.back {
  padding-top: 84px;
}
.back img {
  width: 100%;
}

.philosophy {
  margin-top: 190px;
}
.philosophy-title {
  font-weight: 500;
  font-size: clamp(24px, 3.333vw, 64px);
  line-height: 103%;
  letter-spacing: -0.02em;
  font-family: "Helvetica Neue", sans-serif;
  max-width: 1404px;
  width: 100%;
}
.philosophy-title span {
  font-weight: 500;
  color: #8db0d6;
}
.philosophy-name {
  letter-spacing: -0.04em;
  color: #818991;
  padding: 19px 0;
  border: 1px solid #818991;
  border-radius: 36px;
  text-align: center;
  width: 161px;
}
.philosophy-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 311px;
  margin-bottom: 50px;
}
.philosophy-desc {
  max-width: 697px;
  margin-top: 50px;
  margin-left: 472px;
  font-size: 18px;
  line-height: 156%;
  color: #818991;
}
.philosophy-images {
  margin-top: 190px;
  display: flex;
  gap: 10px;
}
.philosophy-images img {
  width: 100%;
}

.edge {
  margin-top: 190px;
}
.edge-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 312px;
  margin-bottom: 50px;
}
.edge-name {
  letter-spacing: -0.04em;
  color: #818991;
  padding: 19px 0;
  border: 1px solid #818991;
  border-radius: 36px;
  text-align: center;
  width: 161px;
}
.edge-title {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: clamp(24px, 3.333vw, 64px);
  line-height: 103%;
  letter-spacing: -0.02em;
  max-width: 1404px;
  width: 100%;
}
.edge-title span {
  font-weight: 500;
  color: #8db0d6;
}
.edge-list {
  margin-top: 50px;
  display: flex;
  gap: 10px;
}
.edge-list li {
  border-radius: 15px;
  width: 24%;
  padding: 22px 23px 25px 24px;
  background: #f7f7f7;
  height: 461px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.edge-list li:hover {
  background: #0d3896;
}
.edge-list li:hover .edge-num {
  color: #fff;
}
.edge-list li:hover .edge-desc {
  color: #fff;
}
.edge-list li:hover .edge-subtitle {
  color: #fff;
}
.edge-num {
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
  color: #0139b0;
}
.edge-subtitle {
  font-size: 36px;
  line-height: 98%;
  margin-top: 32px;
}
.edge-desc {
  font-size: 16px;
  line-height: 131%;
  color: #818991;
  margin-top: auto;
}

.numbers {
  margin-top: 190px;
}
.numbers-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 312px;
  margin-bottom: 50px;
}
.numbers-name {
  letter-spacing: -0.04em;
  color: #818991;
  padding: 19px 0;
  border: 1px solid #818991;
  border-radius: 36px;
  text-align: center;
  width: 161px;
}
.numbers-title {
  font-weight: 500;
  font-size: clamp(24px, 3.333vw, 64px);
  line-height: 103%;
  letter-spacing: -0.02em;
  font-family: "Helvetica Neue", sans-serif;
  max-width: 1404px;
  width: 100%;
}
.numbers-title span {
  font-weight: 500;
  color: #8db0d6;
}
.numbers-list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.numbers-list li {
  padding-left: 472px;
  border-bottom: 1px solid #818991;
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding-bottom: 25px;
  gap: 55px;
}
.numbers-list li span:first-child {
  font-size: 80px;
  line-height: 90%;
  letter-spacing: -0.06em;
  color: #0d3896;
  width: 180px;
  text-align: left;
  flex-shrink: 0;
}
.numbers-list li span:nth-child(2) {
  font-size: 18px;
  line-height: 117%;
  color: #818991;
  width: 500px;
}
.numbers-video {
  width: 100%;
  margin-top: 100px;
  border-radius: 15px;
}

.back-img__mob {
  display: none;
}

@media screen and (max-width: 768px) {
  .back {
    padding-top: 36px;
  }
  .back .back-img {
    display: none;
  }
  .back .back-img__mob {
    display: block;
  }
  .philosophy {
    margin-top: 120px;
  }
  .philosophy-title {
    max-width: 360px;
  }
  .philosophy-name {
    width: 119px;
    padding: 9px 0;
  }
  .philosophy-wrapper {
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
    margin-bottom: 28px;
  }
  .philosophy-desc {
    max-width: 360px;
    margin-top: 28px;
    margin-left: 0;
    font-size: 14px;
    line-height: 136%;
  }
  .philosophy-images {
    margin-top: 40px;
    gap: 10px;
    flex-direction: column;
  }
  .philosophy-images img {
    border-radius: 5px;
    width: 100%;
  }
  .edge {
    margin-top: 120px;
  }
  .edge-wrapper {
    flex-wrap: wrap;
    align-items: normal;
    gap: 25px;
    margin-bottom: 28px;
  }
  .edge-name {
    width: 119px;
    font-size: 12px;
    padding: 11px 0;
  }
  .edge-title {
    max-width: 300px;
  }
  .edge-list {
    margin-top: 28px;
    flex-wrap: wrap;
    gap: 28px;
  }
  .edge-list li {
    width: 100%;
    padding: 22px;
    height: 333px;
  }
  .edge-num {
    font-family: "Kaushan Script", cursive;
    line-height: normal;
  }
  .edge-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 98%;
    margin-top: 31px;
  }
  .edge-desc {
    font-size: 14px;
    line-height: 136%;
  }
  .numbers {
    margin-top: 120px;
  }
  .numbers-wrapper {
    flex-wrap: wrap;
    align-items: normal;
    gap: 25px;
    margin-bottom: 28px;
  }
  .numbers-name {
    padding: 9px 0;
    width: 119px;
  }
  .numbers-title {
    max-width: 360px;
  }
  .numbers-list {
    margin-top: 39px;
    gap: 30px;
  }
  .numbers-list li {
    padding-left: 0;
    align-items: flex-start;
    padding-bottom: 40px;
    flex-direction: column;
    gap: 25px;
  }
  .numbers-list li span:first-child {
    font-size: 50px;
    line-height: 90%;
    letter-spacing: -0.06em;
    width: auto;
  }
  .numbers-list li span:nth-child(2) {
    font-size: 14px;
    max-width: 267px;
    line-height: 150%;
    width: auto;
  }
  .numbers-video {
    margin-top: 75px;
    border-radius: 5px;
  }
}

/*# sourceMappingURL=about.css.map */
