@charset "UTF-8";
.item-imgMob {
  display: none;
}

.item {
  padding-top: 113px;
}
.item img {
  width: 100%;
}
.item-title {
  max-width: 473px;
  font-weight: 500;
  font-size: clamp(24px, 3.333vw, 64px);
  line-height: 103%;
  letter-spacing: -0.02em;
  font-family: "Helvetica Neue", sans-serif;
}
.item-desc {
  margin-top: 45px;
  line-height: 127%;
  color: #818991;
  padding-bottom: 45px;
  border-bottom: 2px solid #f0f0f0;
}
.item-btn {
  background: #0139b0;
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  cursor: pointer;
  margin-top: 45px;
  border-radius: 5px;
  font-weight: 500;
  padding: 19px 0 18px;
  font-size: 18px;
}
.item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #818991;
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 23px;
}
.item-link a:nth-child(2) {
  font-weight: 500;
  color: #0139b0;
}
.item-call {
  background: #0139b0;
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 19px 0 18px;
  margin-top: 10px;
  background: #f7f7f7;
  color: #1e2d3d;
  font-size: 18px;
  border-radius: 5px;
}
.item-text {
  padding-top: 60px;
  padding-right: 30px;
  max-width: 667px;
}
.item-content {
  margin-top: 22px;
  display: flex;
  gap: 40px;
}
.item-slider__wrapper {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 70%;
  flex-shrink: 0;
}
@media screen and (max-width: 1600px) {
  .item-slider__wrapper {
    max-width: 65%;
  }
}

.color-slider {
  position: relative;
  width: 143px;
  height: 832px;
}
.color-slider__container {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.color-slider__track {
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: transform 0.3s ease;
}
.color-slider .color-option {
  width: 143px;
  height: 143px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s;
  object-fit: cover;
}
.color-slider .color-option:hover {
  border-color: #0139B0;
}
.color-slider .color-option.active {
  border-color: #0139B0;
  box-shadow: 0 0 10px rgba(1, 57, 176, 0.3);
}
.color-slider button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background: white;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  width: 55px;
  height: 55px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.color-slider button:first-child {
  top: 7px;
  display: none;
}
.color-slider button:last-child {
  bottom: 7px;
}

.head-slider {
  position: relative;
  width: 1014px;
  height: 832px;
}
.head-slider__image {
  width: 100%;
  height: 100%;
}
.head-slider__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.head-slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background: white;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  width: 55px;
  height: 55px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.head-slider button:first-child {
  left: 18px;
}
.head-slider button:last-child {
  right: 18px;
}

.characteristics {
  margin-top: 190px;
}
.characteristics-title {
  font-weight: 500;
  font-size: clamp(24px, 3.333vw, 64px);
  line-height: 103%;
  letter-spacing: -0.02em;
}
.characteristics-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 311px;
}
.characteristics-name {
  letter-spacing: -0.04em;
  color: #818991;
  padding: 15px 0;
  flex-shrink: 0;
  border: 1px solid #818991;
  border-radius: 36px;
  text-align: center;
  width: 161px;
}
.characteristics-list {
  margin-top: 42px;
  padding-bottom: 18px;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  text-align: center;
  color: #818991;
  padding-left: 473px;
  gap: 70px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image {
  max-width: 100%;
  max-height: 80vh;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  object-fit: contain; /* Это сохранит пропорции изображения */
}

.modal-close {
  position: absolute;
  top: -50px;
  right: -50px;
  background: none;
  border: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.modal-close:hover {
  transform: scale(1.2);
}

.instructions ul {
  margin-top: 48px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.instructions ul li {
  padding: 22px 24px 25px 24px;
  height: 477px;
  border-radius: 15px;
  width: 24.4%;
  background: #f7f7f7;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.instructions ul .instructions-title {
  font-size: clamp(20px, 2vw, 36px);
  line-height: 98%;
  margin-top: 32px;
}
.instructions ul .instructions-desc {
  line-height: 131%;
  color: #818991;
  margin-top: auto;
}
.instructions ul .instructions-num {
  font-size: 18px;
  line-height: 117%;
  color: #0139b0;
  font-family: "Kaushan Script", cursive;
}

.properties {
  padding-left: 473px;
  display: flex;
  margin-top: 63px;
  flex-direction: column;
  gap: 20px;
}
.properties-desc {
  color: #818991;
}
.properties li {
  display: flex;
  gap: 12px;
  align-items: center;
}
.properties-num {
  font-size: 12px;
  color: #0139b0;
  font-family: "Kaushan Script", cursive;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #f7f7f7;
}

.characteristics-list li {
  cursor: pointer;
  /* ваши стили для пунктов меню */
}

.characteristics-list li.active {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #0139b0;
  position: relative;
}

.characteristics-list li.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: #0139B0;
  bottom: -20px;
}

.application {
  margin-top: 63px;
  line-height: 127%;
  color: #818991;
  padding-left: 473px;
  max-width: 1077px;
}

.footer {
  margin-top: 190px;
}

.recommendations {
  margin-top: 190px;
}
.recommendations-title {
  font-weight: 500;
  font-size: clamp(24px, 3.333vw, 64px);
  line-height: 103%;
  letter-spacing: -0.02em;
  font-family: "Helvetica Neue", sans-serif;
}
.recommendations-title span {
  font-weight: 500;
  color: #8db0d6;
}
.recommendations-wrapper {
  margin-bottom: 50px;
  display: flex;
  gap: 311px;
  align-items: flex-start;
}
.recommendations-name {
  letter-spacing: -0.04em;
  color: #818991;
  padding: 15px 0;
  flex-shrink: 0;
  border: 1px solid #818991;
  border-radius: 36px;
  text-align: center;
  width: 161px;
}
.recommendations-subtitle {
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 113%;
  letter-spacing: -0.02em;
}
.recommendations-desc {
  margin-top: 20px;
  line-height: 143%;
  color: #818991;
}
.recommendations-info {
  margin-top: auto;
  padding: 25px 0;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.recommendations-info li {
  display: flex;
  gap: 12px;
}
.recommendations-info li span:first-child {
  line-height: 143%;
  color: #818991;
}
.recommendations-info li span:nth-child(2) {
  font-weight: 500;
  line-height: 143%;
}
.recommendations-link {
  margin-top: 25px;
  background: #0139b0;
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 23px 0;
  position: relative;
  z-index: 2;
  border-radius: 5px;
}
.recommendations-list {
  margin-top: 50px;
  display: flex;
  gap: 11px;
}
@media screen and (max-width: 1919px) {
  .recommendations-list {
    justify-content: space-between;
  }
}
.recommendations-item {
  height: 851px;
  max-width: 461px;
  padding: 15px 16px;
  background: #f7f7f7;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (max-width: 1919px) {
  .recommendations-item {
    width: 24.5%;
    height: 815px;
  }
}
.recommendations-item__link {
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .item-imgMob {
    display: block;
  }
  .item {
    padding-top: 20px;
  }
  .item img {
    width: 100%;
  }
  .item-title {
    max-width: 400px;
    line-height: 98%;
  }
  .item-desc {
    margin-top: 20px;
    line-height: 150%;
    padding-bottom: 19px;
    border-bottom: 1px solid #f0f0f0;
  }
  .item-btn {
    background: #0139b0;
    color: #fff;
    text-align: center;
    display: block;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
    padding: 15px;
    font-size: 16px;
  }
  .item-link {
    font-size: 12px;
    line-height: 175%;
    color: #818991;
    border-bottom: none;
    padding-bottom: 0;
  }
  .item-call {
    background: #0139b0;
    color: #fff;
    text-align: center;
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 15px;
    background: #f7f7f7;
    color: #1e2d3d;
    margin-top: 6px;
    font-size: 16px;
  }
  .item-text {
    padding-top: 0;
    padding-right: 0;
    max-width: 100%;
    margin-top: 20px;
  }
  .item-content {
    margin-top: 18px;
    display: block;
  }
  .item-slider__wrapper {
    display: none;
  }
  .characteristics {
    margin-top: 137px;
  }
  .characteristics-title {
    line-height: 112%;
  }
  .characteristics-wrapper {
    flex-wrap: wrap;
    align-items: normal;
    flex-direction: column;
    gap: 25px;
  }
  .characteristics-name {
    width: 119px;
    padding: 9px 0;
    font-size: 12px;
  }
  .characteristics-list {
    margin-top: 45px;
    padding-left: 0;
    gap: 20px;
  }
  .instructions {
    margin-top: 28px;
    flex-wrap: wrap;
    gap: 28px;
  }
  .instructions li {
    padding: 22px;
    height: 382px;
    width: 100%;
  }
  .instructions-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 98%;
    margin-top: 31px;
  }
  .instructions-desc {
    font-size: 14px;
    line-height: 136%;
  }
  .instructions-num {
    line-height: normal;
  }
  .properties {
    padding-left: 0;
    margin-top: 28px;
  }
  .properties-desc {
    color: #818991;
    max-width: 318px;
  }
  .properties li {
    display: flex;
    gap: 12px;
    align-items: flex-start;
  }
  .properties-num {
    font-size: 12px;
    color: #0139b0;
    font-family: "Kaushan Script", cursive;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: #f7f7f7;
  }
  .characteristics-list li.active {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #0139b0;
    position: relative;
  }
  .characteristics-list li.active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #0139B0;
    bottom: -20px;
  }
  .application {
    margin-top: 28px;
    line-height: 127%;
    color: #818991;
    padding-left: 0;
    max-width: 1077px;
  }
  .footer {
    margin-top: 190px;
  }
  .recommendations {
    margin-top: 120px;
  }
  .recommendations-title {
    line-height: 112%;
  }
  .recommendations-wrapper {
    margin-bottom: 25px;
    gap: 25px;
    flex-wrap: wrap;
    align-items: normal;
  }
  .recommendations-name {
    width: 119px;
    padding: 11px 0;
    font-size: 12px;
  }
  .recommendations-subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 98%;
    letter-spacing: normal;
  }
  .recommendations-desc {
    margin-top: 18px;
    line-height: 129%;
  }
  .recommendations-list {
    margin-top: 28px;
    flex-wrap: wrap;
    gap: 28px;
  }
  .recommendations-item {
    height: 734px;
    max-width: 100%;
    padding: 10px 22px 22px 22px;
  }
}

/*# sourceMappingURL=item.css.map */
