@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  border: none;
  background: none;
}

html {
  scroll-behavior: smooth;
}

body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@font-face {
  font-family: "Helvetica Neue"; /* Название шрифта (можете задать любое) */
  src: url("../fonts/HelveticaNeue-Roman.otf") format("opentype"); /* Путь к файлу */
  font-weight: 400; /* Жирность (normal, bold, 700 и т. д.) */
  font-style: normal; /* Стиль (normal, italic) */
}
@font-face {
  font-family: "Helvetica Neue"; /* Название шрифта (можете задать любое) */
  src: url("../fonts/HelveticaNeue-Bold.otf") format("opentype"); /* Путь к файлу */
  font-weight: 700; /* Жирность (normal, bold, 700 и т. д.) */
  font-style: normal; /* Стиль (normal, italic) */
}
@font-face {
  font-family: "Helvetica Neue"; /* Название шрифта (можете задать любое) */
  src: url("../fonts/HelveticaNeue-Medium.otf") format("opentype"); /* Путь к файлу */
  font-weight: 500; /* Жирность (normal, bold, 700 и т. д.) */
  font-style: normal; /* Стиль (normal, italic) */
}
@font-face {
  font-family: "Helvetica Neue"; /* Название шрифта (можете задать любое) */
  src: url("../fonts/HelveticaNeue-Light.otf") format("opentype"); /* Путь к файлу */
  font-weight: 300; /* Жирность (normal, bold, 700 и т. д.) */
  font-style: normal; /* Стиль (normal, italic) */
}
@font-face {
  font-family: "Helvetica Neue"; /* Название шрифта (можете задать любое) */
  src: url("../fonts/HelveticaNeue-Thin.otf") format("opentype"); /* Путь к файлу */
  font-weight: 200; /* Жирность (normal, bold, 700 и т. д.) */
  font-style: normal; /* Стиль (normal, italic) */
}
.separator {
  width: 100%;
}

body {
  color: #1e2d3d;
  font-family: "Inter", sans-serif;
  background: #fff;
  font-weight: 400;
  font-size: 16px;
}

.container {
  margin: auto;
  max-width: 1920px;
  padding: 0 22px;
}

.header {
  width: 100%;
  padding-left: 22px;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 100000;
  background: #fff;
  left: 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px solid #ededed;
}
.header-nav {
  display: flex;
  gap: 48px;
}
.header-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-list {
  height: 100%;
  border-left: 1.5px solid #ededed;
  display: flex;
  gap: 2.6vw;
  justify-content: space-between;
  padding: 24px 0 25px 48px;
}
@media screen and (max-width: 1500px) {
  .header-list {
    gap: 20px;
  }
}
.header-tel {
  display: block;
  padding: 24px 20px 26px 20px; /* Уменьшил отступы */
  border-left: 1.5px solid #ededed;
  white-space: nowrap; /* Запрещаем перенос текста */
}
.header-link {
  padding: 24px 50px;
  text-align: center;
  display: block;
  background: #0139b0;
  max-width: 248px;
  width: 100%;
  font-size: 18px;
  color: #fff;
}
.header-info {
  display: flex;
  align-items: center;
}

.main {
  padding: 163px 0 0 0;
}
.main img {
  width: 100%;
}
.main-content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  justify-content: space-between;
  margin-bottom: 40px;
}
.main-title {
  font-weight: 500;
  font-size: clamp(24px, 3.333vw, 64px);
  line-height: 103%;
  letter-spacing: -0.02em;
  line-height: 102%;
  max-width: 1017px;
}
.main-title span {
  font-weight: 500;
  color: #0139b0;
}
.main-desc {
  max-width: 693px;
  font-weight: 400;
  font-size: clamp(14px, 0.9375vw, 18px);
  color: #818991;
}
.main-link {
  margin-top: 40px;
  background: #0139b0;
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  cursor: pointer;
  max-width: 461px;
  border-radius: 5px;
  padding: 19px 0 20px;
}

.main-slider {
  margin-top: 90px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100vh; /* Или нужную вам высоту */
  overflow-y: hidden; /* Убираем вертикальный скролл */
}

.main-slider img {
  flex: 0 0 100%;
  scroll-snap-align: start;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Убираем полосу прокрутки */
.main-slider::-webkit-scrollbar {
  display: none;
}

.main-slider {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.advantages {
  margin-top: 190px;
  padding: 121px 0 91px 0;
  background: #f7f7f7;
}
.advantages-wrapper {
  display: flex;
  gap: 311px;
  align-items: flex-start;
  margin-bottom: 50px;
}
.advantages-title {
  font-weight: 500;
  font-size: clamp(24px, 3.333vw, 64px);
  line-height: 103%;
  letter-spacing: -0.02em;
  font-family: "Helvetica Neue", sans-serif;
}
.advantages-title span {
  color: #8db0d6;
  font-weight: 500;
}
.advantages-name {
  letter-spacing: -0.04em;
  color: #818991;
  padding: 15px 0;
  flex-shrink: 0;
  border: 1px solid #818991;
  border-radius: 36px;
  text-align: center;
  width: 161px;
}
@media screen and (max-width: 768px) {
  .advantages-name {
    font-size: 12px;
    border-radius: 100px;
    padding: 11px 0 10px 0;
  }
}
.advantages-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(4, auto);
  gap: 10px;
  margin-top: 50px;
  width: 100%;
  overflow: hidden;
}
.advantages-list .card-1 {
  grid-column: 1;
  grid-row: 1;
}
.advantages-list .card-2 {
  grid-column: 3;
  grid-row: 1;
}
.advantages-list .card-3 {
  grid-column: 2;
  grid-row: 2;
}
.advantages-list .card-4 {
  grid-column: 4;
  grid-row: 2;
}
.advantages-list .card-5 {
  grid-column: 1;
  grid-row: 3;
}
.advantages-list .card-6 {
  grid-column: 3;
  grid-row: 3;
}
.advantages-list .card-7 {
  grid-column: 2;
  grid-row: 4;
}
.advantages-list .card-8 {
  grid-column: 4;
  grid-row: 4;
}
.advantages-list li {
  background: #fff;
  border-radius: 15px;
  width: 100%;
  padding: clamp(15px, 2vw, 26px) clamp(12px, 2vw, 24px);
  box-sizing: border-box;
}
.advantages-list li .advantages-subtitle {
  font-size: clamp(20px, 2vw, 36px);
  line-height: 1.2;
}
.advantages-list li .advantages-desc {
  font-size: clamp(12px, 1.5vw, 16px);
}
@media screen and (max-width: 1860px) {
  .advantages-list li:nth-child(1) .advantages-img {
    width: auto;
  }
}
@media screen and (max-width: 1860px) {
  .advantages-list li:nth-child(14) .advantages-img {
    width: auto;
  }
}
@media screen and (max-width: 1860px) {
  .advantages-list li:nth-child(16) .advantages-img {
    width: auto;
  }
}
.advantages-list .empty {
  min-width: 0;
}
.advantages-desc {
  line-height: 131%;
  color: #818991;
  padding-top: 25px;
  border-top: 2px solid #f7f7f7;
}
.advantages-subtitle {
  line-height: 98%;
  color: #0139b0;
  margin-top: 24px;
  padding-bottom: 25px;
  border-bottom: 2px solid #f7f7f7;
}
.advantages-img {
  display: block;
  padding: 77px 0 76px 0;
}
@media screen and (max-width: 1860px) {
  .advantages-img {
    width: 100%;
  }
}
.advantages-img__wrapper {
  display: flex;
  justify-content: flex-end;
}

.about {
  margin-top: 190px;
}
.about-content {
  width: 100%;
  max-width: 1404px;
}
.about-title {
  font-weight: 500;
  font-size: clamp(24px, 3.333vw, 64px);
  line-height: 103%;
  letter-spacing: -0.02em;
  font-family: "Helvetica Neue", sans-serif;
}
.about-title span {
  font-weight: 500;
  color: #8db0d6;
}
.about-name {
  letter-spacing: -0.04em;
  color: #818991;
  padding: 15px 0;
  flex-shrink: 0;
  border: 1px solid #818991;
  border-radius: 36px;
  text-align: center;
  width: 161px;
}
@media screen and (max-width: 768px) {
  .about-name {
    font-size: 12px;
    border-radius: 100px;
    padding: 11px 0 10px 0;
  }
}
.about-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 311px;
}
.about-desc {
  margin-top: 50px;
  max-width: 697px;
  font-size: 18px;
  color: #818991;
}
.about-link {
  padding: 28px 0 27px 0;
  margin-top: 50px;
  background: #0139b0;
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  cursor: pointer;
  max-width: 697px;
  font-weight: 500;
  font-size: 18px;
  height: 73px;
}
.about-mob {
  display: none;
}
.about-video {
  border-radius: 15px;
  width: 100%;
  margin-top: 50px;
}

.region {
  margin-top: 190px;
}
.region-wrapper {
  margin-bottom: 50px;
  display: flex;
  gap: 311px;
  align-items: flex-start;
}
.region-name {
  letter-spacing: -0.04em;
  color: #818991;
  padding: 15px 0;
  flex-shrink: 0;
  border: 1px solid #818991;
  border-radius: 36px;
  text-align: center;
  width: 161px;
}
@media screen and (max-width: 768px) {
  .region-name {
    font-size: 12px;
    border-radius: 100px;
    padding: 11px 0 10px 0;
  }
}
.region-title {
  font-weight: 500;
  font-size: clamp(24px, 3.333vw, 64px);
  line-height: 103%;
  letter-spacing: -0.02em;
  font-family: "Helvetica Neue", sans-serif;
  max-width: 930px;
}
.region-title span {
  font-weight: 500;
  color: #8db0d6;
}
.region-number {
  font-family: "Kaushan Script", cursive;
  font-size: 18px;
  color: #0139b0;
}
.region-desc {
  line-height: 131%;
  color: #818991;
  max-width: 542px;
}
.region-subtitle {
  font-size: clamp(20px, 2vw, 36px);
  line-height: 98%;
  margin: 35px 0 31px;
}
@media screen and (max-width: 1919px) {
  .region-subtitle {
    max-width: 642px;
  }
}
.region-list {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
}
.region-list li {
  display: flex;
  flex-direction: column;
  max-width: 930px;
  width: 100%;
  padding: 22px 16px 30px 16px;
  height: 564px;
  background: #f7f7f7;
  border-radius: 15px;
}
@media screen and (max-width: 1919px) {
  .region-list li {
    max-width: none;
    width: 49%;
  }
}
.region-list li img {
  text-align: center;
  display: block;
  margin: auto auto 0 auto;
}
@media screen and (max-width: 1919px) {
  .region-list li img {
    width: 60%;
  }
}
@media screen and (max-width: 1919px) {
  .region-list li:first-child img {
    width: 90%;
  }
}
@media screen and (max-width: 1919px) {
  .region-list li:nth-child(2) img {
    width: 90%;
  }
}
.region-list li:first-child {
  max-width: 460px;
}
@media screen and (max-width: 1919px) {
  .region-list li:first-child {
    max-width: none;
    width: 24%;
  }
}
.region-list li:nth-child(2) {
  max-width: 460px;
}
@media screen and (max-width: 1919px) {
  .region-list li:nth-child(2) {
    max-width: none;
    width: 24%;
  }
}

.catalog {
  margin-top: 190px;
}
.catalog-title {
  font-weight: 500;
  font-size: clamp(24px, 3.333vw, 64px);
  line-height: 103%;
  letter-spacing: -0.02em;
  font-family: "Helvetica Neue", sans-serif;
}
.catalog-title span {
  font-weight: 500;
  color: #8db0d6;
}
.catalog-wrapper {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.catalog-name {
  letter-spacing: -0.04em;
  color: #818991;
  padding: 15px 0;
  flex-shrink: 0;
  border: 1px solid #818991;
  border-radius: 36px;
  text-align: center;
  width: 161px;
}
@media screen and (max-width: 768px) {
  .catalog-name {
    font-size: 12px;
    border-radius: 100px;
    padding: 11px 0 10px 0;
  }
}
.catalog-subtitle {
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 113%;
  letter-spacing: -0.02em;
}
.catalog-desc {
  margin-top: 20px;
  line-height: 143%;
  color: #818991;
}
.catalog-info {
  margin-top: auto;
  padding: 25px 0;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.catalog-info li {
  display: flex;
  gap: 12px;
}
.catalog-info li span:first-child {
  line-height: 143%;
  color: #818991;
}
.catalog-info li span:nth-child(2) {
  font-weight: 500;
  line-height: 143%;
}
.catalog-link {
  margin-top: 25px;
  background: #0139b0;
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 20px 0;
  position: relative;
  z-index: 2;
  border-radius: 5px;
}
.catalog-list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 45px 10px;
  width: 100%;
  max-width: 100%;
  /* Все карточки по умолчанию занимают 1 колонку */
  /* 7-я карточка (4-я во второй строке) */
  /* 8-я и 9-я карточки (третья строка по центру) */
}
@media screen and (max-width: 1700px) {
  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.catalog-list .catalog-item {
  grid-column: span 1;
}
.catalog-list .catalog-item:nth-child(7) {
  grid-column: 4;
  grid-row: 2;
}
.catalog-list .catalog-item:nth-child(8) {
  grid-column: 2;
  grid-row: 3;
}
.catalog-list .catalog-item:nth-child(9) {
  grid-column: 3;
  grid-row: 3;
}
.catalog-item {
  height: 851px;
  max-width: 461px;
  padding: 15px 16px;
  background: #f7f7f7;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.catalog-item__link {
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.color {
  margin-top: 190px;
}
.color .container {
  background: #0139b0;
  border-radius: 15px;
  position: relative;
  padding: 15px;
  overflow: hidden;
}
.color .container img {
  position: absolute;
  height: 100%;
  top: -20px;
  right: 0;
}
.color-content {
  position: relative;
  z-index: 10;
  background: #fff;
  border-radius: 15px;
  max-width: none;
  width: 44.4%;
  padding: 66px 30px;
}
.color-title {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: clamp(24px, 3.333vw, 64px);
  line-height: 103%;
  letter-spacing: -0.02em;
}
.color-title span {
  font-weight: 500;
  color: #8db0d6;
}
.color-desc {
  line-height: 125%;
  max-width: 454px;
  color: #818991;
  margin-top: 35px;
}
.color-form {
  margin-top: 104px;
}
.color-form input {
  width: 100%;
  border: none;
  display: block;
  border-radius: 5px;
  background: #ebebeb;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  line-height: 133%;
  padding: 25px 20px;
  color: #818991;
}
@media screen and (max-width: 768px) {
  .color-form input {
    font-size: 14px;
    padding: 21px 19px;
  }
}
.color .form-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.color-info {
  margin-top: 20px;
  line-height: 120%;
  font-size: 14px;
  max-width: 548px;
  color: #818991;
}
.color-info a {
  text-decoration: underline;
}
.color-btn {
  background: #0139b0;
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  cursor: pointer;
  margin-top: 35px;
  height: 73px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
}

.projects {
  margin-top: 190px;
  width: 100%;
  overflow: hidden;
  /* Адаптация для разных экранов */
}
.projects-wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
  gap: 311px;
}
.projects-title {
  font-weight: 500;
  font-size: clamp(24px, 3.333vw, 64px);
  line-height: 103%;
  letter-spacing: -0.02em;
  max-width: 1007px;
  font-family: "Helvetica Neue", sans-serif;
}
.projects-title span {
  font-weight: 500;
  color: #8db0d6;
}
.projects-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.projects-nav span {
  font-size: 36px;
  letter-spacing: -0.02em;
  font-family: "Kaushan Script", cursive;
  color: #b3b3b3;
}
.projects-nav .current-slide {
  color: #0139b0;
}
.projects-nav .projects-pagination {
  display: flex;
  gap: 20px;
}
.projects-nav .projects-pagination button {
  cursor: pointer;
}
.projects-name {
  letter-spacing: -0.04em;
  color: #818991;
  padding: 15px 0;
  flex-shrink: 0;
  border: 1px solid #818991;
  border-radius: 36px;
  text-align: center;
  width: 161px;
}
@media screen and (max-width: 768px) {
  .projects-name {
    font-size: 12px;
    border-radius: 100px;
    padding: 11px 0 10px 0;
  }
}
.projects-slider {
  margin-top: 50px;
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 648px; /* Высота самого большого слайда */
}
.projects .slider-container {
  position: relative;
  height: 100%;
}
.projects .slide {
  cursor: pointer; /* Добавляем указатель при наведении */
  position: absolute;
  transition: all 0.5s ease;
  top: 0; /* Прижато к верху */
}
.projects .slide[data-size=large] {
  width: 933px;
  height: 648px;
  left: 0;
  z-index: 3;
}
.projects .slide[data-size=medium] {
  width: 462px;
  height: 516px;
  left: 943px; /* 933 + 10 */
  z-index: 2;
}
.projects .slide[data-size=small] {
  width: 461px;
  height: 339px;
  left: 1415px; /* 933 + 462 + 10 + 10 */
  z-index: 1;
}
.projects .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 15px;
}
@media (max-width: 1800px) {
  .projects-slider {
    margin-top: 50px;
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 558px; /* Высота самого большого слайда */
  }
  .projects .slide[data-size=large] {
    width: 800px;
    height: 555px;
  }
  .projects .slide[data-size=medium] {
    width: 400px;
    height: 445px;
    left: 810px;
  }
  .projects .slide[data-size=small] {
    width: 400px;
    height: 300px;
    left: 1220px;
  }
}
@media (max-width: 1400px) {
  .projects .slide[data-size=large] {
    width: 600px;
    height: 416px;
  }
  .projects .slide[data-size=medium] {
    width: 300px;
    height: 334px;
    left: 610px;
  }
  .projects .slide[data-size=small] {
    width: 300px;
    height: 225px;
    left: 920px;
  }
  .projects-slider {
    height: 416px;
  }
}
@media (max-width: 992px) {
  .projects .slide[data-size=large] {
    width: 450px;
    height: 312px;
  }
  .projects .slide[data-size=medium] {
    width: 220px;
    height: 250px;
    left: 460px;
  }
  .projects .slide[data-size=small] {
    width: 220px;
    height: 165px;
    left: 690px;
  }
  .projects-slider {
    height: 312px;
  }
}
@media (max-width: 768px) {
  .projects {
    /* Вертикальный вариант для мобильных */
  }
  .projects .slider-container {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .projects .slide {
    position: static;
    width: 100% !important;
    height: auto !important;
    margin-bottom: 20px;
  }
  .projects .slide[data-size] {
    left: auto !important;
  }
  .projects-slider {
    height: auto;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image {
  max-width: 100%;
  max-height: 80vh;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  object-fit: contain; /* Это сохранит пропорции изображения */
}

.modal-close {
  position: absolute;
  top: -50px;
  right: -50px;
  background: none;
  border: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.modal-close:hover {
  transform: scale(1.2);
}

.vr {
  margin-top: 164px;
}
.vr-wrapper {
  display: flex;
  gap: 311px;
  align-items: flex-start;
  margin-bottom: 50px;
}
.vr-title {
  font-weight: 500;
  font-size: clamp(24px, 3.333vw, 64px);
  line-height: 103%;
  letter-spacing: -0.02em;
  font-family: "Helvetica Neue", sans-serif;
  max-width: 1406px;
  width: 100%;
}
.vr-title span {
  font-weight: 500;
  color: #8db0d6;
}
.vr-name {
  letter-spacing: -0.04em;
  color: #818991;
  padding: 15px 0;
  flex-shrink: 0;
  border: 1px solid #818991;
  border-radius: 36px;
  text-align: center;
  width: 161px;
}
@media screen and (max-width: 768px) {
  .vr-name {
    font-size: 12px;
    border-radius: 100px;
    padding: 11px 0 10px 0;
  }
}
.vr-block {
  display: flex;
  gap: 10px;
  padding-top: 35px;
  border-top: 2px solid #f0f0f0;
  margin-top: 35px;
}
.vr-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.01em;
  color: #0642c1;
}
.vr-desc {
  font-weight: 600;
  font-size: 20px;
  line-height: 113%;
  letter-spacing: -0.02em;
  color: #1e2d3d;
  margin-top: 21px;
}

.vr-content {
  margin-top: 50px;
  position: relative;
  width: 100%;
  max-width: 100%;
}

.vr-content img {
  width: 100%;
  height: auto;
  display: block;
}

.vr-btn {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 172px; /* Размеры вашего круглого изображения */
  height: 172px;
  border: none;
  border-radius: 50%;
  font-weight: 500;
  font-size: 20px;
  color: #0139b0;
  cursor: pointer;
  transition: all 0.3s ease;
  background: url("../assets/vr-4.svg") center/contain no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}

.vr-btn:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.vr-btn span {
  position: relative;
  z-index: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.5);
}

.popup-content {
  position: relative;
  margin-top: 30px;
  background: #fff;
  padding: 35px 30px 53px 30px;
  border-radius: 12px;
  max-width: 1368px;
  width: 100%;
  z-index: 1001;
}

.popup-close {
  position: absolute;
  top: 35px;
  right: 30px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  background: none;
  border: none;
}

.popup-close svg {
  width: 100%;
  height: 100%;
}

.popup-close:hover path {
  stroke: #000;
}

.cost {
  margin-top: 190px;
}

.cost .container {
  background: #0139b0;
  border-radius: 15px;
  position: relative;
  padding: 15px;
  overflow: hidden;
}

.cost .container img {
  position: absolute;
  height: 100%;
  top: -20px;
  right: 0;
}

.cost-content {
  position: relative;
  z-index: 10;
  background: #fff;
  border-radius: 15px;
  max-width: 44.4%;
  width: 100%;
  padding: 66px 30px;
}

.cost-title {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: clamp(24px, 3.333vw, 64px);
  line-height: 103%;
  letter-spacing: -0.02em;
}

.cost-title span {
  font-weight: 500;
  color: #8db0d6;
}

.cost-desc {
  line-height: 144%;
  max-width: 616px;
  color: #818991;
  margin-top: 37px;
}

.cost-form {
  margin-top: 104px;
}

.cost-form input {
  width: 100%;
  border: none;
  display: block;
  border-radius: 5px;
  background: #ebebeb;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  line-height: 133%;
  padding: 25px 20px;
  color: #818991;
}
@media screen and (max-width: 768px) {
  .cost-form input {
    font-size: 14px;
    padding: 21px 19px;
  }
}

.form-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cost-info {
  margin-top: 20px;
  line-height: 120%;
  font-size: 14px;
  max-width: 548px;
  color: #818991;
}

.cost-info a {
  text-decoration: underline;
}

.cost-btn {
  background: #0139b0;
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  cursor: pointer;
  margin-top: 35px;
  height: 73px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
}

/* Стили для многошаговой формы */
.form-step {
  display: none;
}

.form-step.active {
  display: block;
}

/* Стили для кастомного select */
.select-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.coating-select {
  padding-right: 50px !important;
  cursor: pointer;
}

.select-arrow {
  position: absolute;
  right: 33px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
  pointer-events: none;
}

.select-wrapper.active .select-arrow {
  transform: translateY(-50%) rotate(180deg);
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 10;
  margin-top: 5px;
  max-height: 200px; /* Ограничиваем высоту */
  overflow-y: auto; /* Добавляем прокрутку */
}

.select-wrapper.active .select-options {
  display: block;
}

.option {
  padding: 15px 20px;
  cursor: pointer;
}

.option:hover {
  background: #f5f5f5;
}

/* Стили для ошибок */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: none;
}

input:invalid,
.coating-select.invalid,
input.invalid {
  border-color: red !important;
}

.stages {
  margin-top: 190px;
}
.stages-wrapper {
  display: flex;
  gap: 311px;
  margin-bottom: 50px;
  align-items: flex-start;
}
.stages-title {
  font-weight: 500;
  font-size: clamp(24px, 3.333vw, 64px);
  line-height: 103%;
  letter-spacing: -0.02em;
  font-family: "Helvetica Neue", sans-serif;
  max-width: 930px;
  width: 100%;
}
.stages-title span {
  font-weight: 500;
  color: #8db0d6;
}
.stages-name {
  letter-spacing: -0.04em;
  color: #818991;
  padding: 15px 0;
  flex-shrink: 0;
  border: 1px solid #818991;
  border-radius: 36px;
  text-align: center;
  width: 132px;
}
@media screen and (max-width: 768px) {
  .stages-name {
    font-size: 12px;
    border-radius: 100px;
    padding: 11px 0 10px 0;
  }
}
.stages-list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.stages-list li {
  border-radius: 15px;
  display: flex;
  gap: 136px;
  height: 202px;
  padding: 45px 0 0 45px;
  background: #f7f7f7;
}
.stages-desc {
  line-height: 150%;
  color: #818991;
  margin-top: 30px;
}
.stages-number {
  font-family: "Kaushan Script", cursive;
  font-size: 45px;
  color: #0139b0;
}
.stages-subtitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 90%;
  letter-spacing: 0.01em;
}

.certificates {
  padding: 86px 0 121px;
  background: #f7f7f7;
  margin-top: 190px;
}
.certificates-wrapper {
  display: flex;
  gap: 311px;
  align-items: flex-start;
  margin-bottom: 50px;
}
.certificates-name {
  letter-spacing: -0.04em;
  color: #818991;
  padding: 15px 0;
  flex-shrink: 0;
  border: 1px solid #818991;
  border-radius: 36px;
  text-align: center;
  width: 147px;
}
@media screen and (max-width: 768px) {
  .certificates-name {
    font-size: 12px;
    border-radius: 100px;
    padding: 11px 0 10px 0;
  }
}
.certificates-title {
  font-weight: 500;
  font-size: clamp(24px, 3.333vw, 64px);
  line-height: 103%;
  letter-spacing: -0.02em;
  max-width: 1024px;
  width: 100%;
}
.certificates-title span {
  font-weight: 500;
  color: #8db0d6;
}
.certificates-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.certificates-nav span {
  font-size: 36px;
  letter-spacing: -0.02em;
  font-family: "Kaushan Script", cursive;
  color: #b3b3b3;
}
.certificates-nav .current-slide {
  color: #0139b0;
}
.certificates-nav .certificates-pagination {
  display: flex;
  gap: 20px;
}
.certificates-nav .certificates-pagination button {
  cursor: pointer;
}
.certificates-slider {
  cursor: pointer;
  margin-top: 50px;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#certificates .certificates-slider {
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-top: 50px;
}

#certificates .slider-container {
  display: flex;
  gap: 10px;
  transition: transform 0.5s ease;
  will-change: transform;
}

#certificates .slide {
  flex: 0 0 calc(25% - 7.5px); /* 4 слайда с учетом gap */
  opacity: 1 !important; /* Принудительно делаем видимыми */
  z-index: 1 !important; /* Принудительно устанавливаем z-index */
}

#certificates .slide img {
  width: 100%;
  height: 669px;
  display: block;
  border-radius: 10px;
}

/* Адаптация */
@media (max-width: 1560px) {
  #certificates .slide {
    flex: 0 0 calc(33.333% - 6.666px); /* 3 слайда */
  }
}
@media (max-width: 768px) {
  #certificates .slide {
    flex: 0 0 calc(50% - 5px); /* 2 слайда */
  }
}
@media (max-width: 480px) {
  #certificates .slide {
    flex: 0 0 100%; /* 1 слайд */
  }
}
.questions {
  margin-top: 190px;
}
.questions-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
}
.questions-title {
  font-weight: 500;
  font-size: clamp(24px, 3.333vw, 64px);
  line-height: 103%;
  letter-spacing: -0.02em;
  font-family: "Helvetica Neue", sans-serif;
  max-width: 930px;
}
.questions-title span {
  font-weight: 500;
  color: #8db0d6;
}
.questions-name {
  letter-spacing: -0.04em;
  color: #818991;
  padding: 15px 0;
  flex-shrink: 0;
  border: 1px solid #818991;
  border-radius: 36px;
  text-align: center;
  width: 132px;
}
@media screen and (max-width: 768px) {
  .questions-name {
    font-size: 12px;
    border-radius: 100px;
    padding: 11px 0 10px 0;
  }
}
.questions-list {
  margin-top: 50px;
}
.questions-desc {
  margin-top: 40px;
  line-height: 150%;
  color: #818991;
}
.questions-subtitle {
  font-size: 28px;
  line-height: 90%;
  letter-spacing: -0.06em;
}
.questions-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.questions-list li {
  padding: 30px 30px 0 30px;
  border-radius: 15px;
  background: #f7f7f7;
  height: 214px;
  width: 49.6%;
}

.separator-mob {
  display: none;
}

.footer-mob {
  display: none;
}

.color-imgmob {
  display: none;
}

.contacts {
  margin-top: 190px;
}
.contacts img {
  width: 50%;
}
.contacts .container {
  display: flex;
  gap: 10px;
}
.contacts-content {
  width: 50%;
  background: #0139b0;
  padding: 30px 30px 40px 30px;
  border-radius: 15px;
}
.contacts-name {
  letter-spacing: -0.04em;
  color: #818991;
  padding: 15px 0;
  flex-shrink: 0;
  border: 1px solid #818991;
  border-radius: 36px;
  text-align: center;
  width: 132px;
  color: #fff;
  border: 1px solid #fff;
  display: block;
  padding: 14px 0;
}
@media screen and (max-width: 768px) {
  .contacts-name {
    font-size: 12px;
    border-radius: 100px;
    padding: 11px 0 10px 0;
  }
}
.contacts-title {
  font-family: "Helvetica Neue", sans-serif;
  max-width: 842px;
  font-weight: 500;
  font-size: clamp(24px, 3.333vw, 64px);
  line-height: 103%;
  letter-spacing: -0.02em;
  color: #fff;
  margin-top: 42px;
  font-size: clamp(24px, 3.333vw, 55px);
}
.contacts-desc {
  max-width: 458px;
  line-height: 150%;
  color: #fff;
  margin-top: 35px;
}
.contacts-form {
  margin-top: 86px;
}
.contacts-form input {
  width: 100%;
  border: none;
  display: block;
  border-radius: 5px;
  background: #ebebeb;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  line-height: 133%;
  padding: 25px 20px;
  color: #818991;
}
@media screen and (max-width: 768px) {
  .contacts-form input {
    font-size: 14px;
    padding: 21px 19px;
  }
}
.contacts-form .form-info {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.contacts-info {
  line-height: 120%;
  font-size: 14px;
  color: #fff;
  max-width: 456px;
  margin-top: 20px;
}
.contacts-info a {
  text-decoration: underline;
}
.contacts-btn {
  background: #0139b0;
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  cursor: pointer;
  margin-top: 35px;
  background: #fff;
  color: #1e2d3d;
  height: 73px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
}

.map {
  margin-top: 190px;
}
.map iframe {
  border-radius: 15px;
  height: 802px;
}

.footer {
  margin: 25px 0;
}
.footer-block {
  background: #f7f7f7;
  padding: 35px 35px 35px 29px;
  border-radius: 15px;
  width: 49.9%;
  height: 252px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-block a {
  font-size: 64px;
  line-height: 102%;
  letter-spacing: -0.02em;
}
.footer-wrapper {
  display: flex;
  gap: 10px;
}
.footer-span {
  font-size: 24px;
  color: #818991;
  font-family: "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-address__wrapper {
  padding: 50px 0;
  max-width: 910px;
  width: 100%;
}
.footer .footer-content {
  border-left: 1.5px solid #ececec;
  padding: 50px 0;
}
.footer-border {
  margin-top: 38px;
  border-top: 1.5px solid #ececec;
  border-bottom: 1.5px solid #ececec;
  display: flex;
}
.footer-links {
  width: 100%;
  padding-right: 123px;
  padding-left: 32px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1768px) {
  .footer-links {
    flex-wrap: wrap;
    gap: 20px;
  }
}
.footer-main {
  margin-top: 10px;
  padding: 38px 25px 377px 25px;
  border-radius: 15px;
  background: #f7f7f7;
  position: relative;
  overflow: hidden;
}
.footer-logo {
  display: flex;
  justify-content: space-between;
}
.footer-logo button {
  font-size: 18px;
  letter-spacing: -0.04em;
  text-align: right;
  color: #505050;
  font-family: "Helvetica Neue", sans-serif;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}
.footer-address {
  display: flex;
  flex-direction: column;
  gap: 90px;
}
.footer-btn {
  background: #0139b0;
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 18px 0 19px;
  border-radius: 5px;
  width: 290px;
  margin-top: 45px;
  border-radius: 5px;
}
.footer-desc {
  max-width: 638px;
  font-size: 30px;
  line-height: 116%;
  margin-top: 30px;
  letter-spacing: -0.02em;
}
.footer-nav h3 {
  font-size: 24px;
  font-family: "Helvetica Neue", sans-serif;
}
.footer-nav ul {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  color: #818991;
  font-family: "Helvetica Neue", sans-serif;
}
.footer-nav .footer-images {
  display: flex;
  flex-direction: row;
  gap: 24px;
  position: relative;
}
.footer-nav .footer-images::after {
  position: absolute;
  right: -10px;
  top: -15px;
  content: url("../assets/star.svg");
}
.footer-meta {
  font-weight: 300;
  font-size: 14px;
  color: #aaa8a8;
  margin-top: 69px;
  padding-left: 32px;
}
.footer-politics {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-family: "Helvetica Neue", sans-serif;
  padding-top: 50px;
  border-top: 1.5px solid #ececec;
}
.footer-info {
  margin: 50px 0 40px;
  display: flex;
  justify-content: space-between;
}
.footer-info div {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer-info span {
  font-weight: 400;
  font-size: 18px;
  font-family: "Helvetica Neue", sans-serif;
}
.footer-info p {
  line-height: 129%;
  color: #aaa8a8;
  max-width: 878px;
}
.footer-back {
  position: absolute;
  bottom: -10px;
  left: 28px;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    max-width: 390px;
    padding: 0 15px;
  }
  .separator {
    display: none;
  }
  .separator-mob {
    display: block;
  }
  .header {
    display: none;
  }
  .main {
    padding: 137px 0 0 0;
  }
  .main .separator {
    display: none;
  }
  .main img {
    width: 100%;
  }
  .main-content {
    flex-wrap: wrap;
    gap: 26px;
    align-items: normal;
    margin-bottom: 0;
  }
  .main-title {
    line-height: 112%;
  }
  .main-desc {
    line-height: 136%;
  }
  .main-link {
    margin-top: 163px;
    font-weight: 500;
    padding: 15px 0;
  }
  .main-slider {
    margin-top: 21px;
    width: 100%;
    height: 247px; /* Или нужную вам высоту */
  }
  .advantages {
    margin-top: 120px;
    padding: 60px 0 76px 0;
  }
  .advantages-wrapper {
    gap: 25px;
    flex-wrap: wrap;
    align-items: normal;
    margin-bottom: 28px;
  }
  .advantages-title {
    line-height: 112%;
    max-width: 310px;
  }
  .advantages-title span {
    color: #8db0d6;
    font-weight: 500;
  }
  .advantages-name {
    letter-spacing: -0.04em;
    color: #818991;
    padding: 15px 0;
    flex-shrink: 0;
    border: 1px solid #818991;
    border-radius: 36px;
    text-align: center;
    width: 119px;
  }
  /* Стили для кастомного select */
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .advantages-name {
    font-size: 12px;
    border-radius: 100px;
    padding: 11px 0 10px 0;
  }
}
@media (max-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    margin-top: 28px;
  }
  .advantages-list li {
    padding: 22px;
  }
  .advantages-list li .advantages-subtitle {
    font-size: clamp(20px, 2vw, 36px);
    line-height: 98%;
    font-weight: 500;
  }
  .advantages-list li .advantages-desc {
    font-size: 14px;
  }
  .advantages-list .empty {
    display: none;
  }
  .advantages li:first-child .advantages-img {
    height: 188px;
  }
  .advantages li:nth-child(3) .advantages-img {
    height: 149px;
  }
  .advantages li:nth-child(6) .advantages-img {
    height: 141px;
  }
  .advantages li:nth-child(8) .advantages-img {
    height: 141px;
  }
  .advantages li:nth-child(9) .advantages-img {
    height: 141px;
  }
  .advantages li:nth-child(11) .advantages-img {
    height: 141px;
  }
  .advantages li:nth-child(14) .advantages-img {
    height: 191px;
  }
  .advantages li:nth-child(16) .advantages-img {
    height: 188px;
  }
  .advantages-desc {
    line-height: 136%;
  }
  .advantages-subtitle {
    border-bottom: none;
    max-width: 239px;
    width: 100%;
    border-bottom: 2px solid #f7f7f7;
    margin-top: -20px;
  }
  .advantages-img {
    display: block;
    padding: 35px 0;
  }
  .advantages-img__wrapper {
    display: flex;
    justify-content: flex-end;
  }
  .about {
    margin-top: 120px;
  }
  .about-content {
    width: 100%;
    max-width: 1404px;
  }
  .about-content a {
    display: none;
  }
  .about-title {
    font-weight: 500;
    font-size: clamp(24px, 3.333vw, 64px);
    line-height: 103%;
    letter-spacing: -0.02em;
    line-height: 112%;
  }
  .about-name {
    width: 119px;
  }
  .about-wrapper {
    flex-wrap: wrap;
    align-items: normal;
    gap: 25px;
  }
  .about-desc {
    margin-top: 32px;
    font-size: 14px;
  }
  .about-link {
    margin-top: 25px;
    background: #0139b0;
    color: #fff;
    text-align: center;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    padding: 15px 0;
    border-radius: 5px;
    height: auto;
  }
  .about-mob {
    display: block;
  }
  .about-video {
    border-radius: 5px;
    margin-top: 32px;
  }
  .region {
    margin-top: 110px;
  }
  .region-wrapper {
    margin-bottom: 28px;
    gap: 25px;
    flex-wrap: wrap;
    align-items: normal;
  }
  .region-name {
    width: 119px;
  }
  .region-title {
    line-height: 112%;
    max-width: 300px;
  }
  .region-desc {
    line-height: 136%;
  }
  .region-subtitle {
    font-size: 20px;
    margin: 31px 0 23px;
  }
  .region-list {
    margin-top: 28px;
    gap: 28px;
  }
  .region-list li {
    max-width: 360px;
    padding: 22px;
    height: 493px;
    background: #f7f7f7;
    border-radius: 15px;
  }
  .region-list li img {
    width: 100%;
  }
  .region-list li:nth-child(3) {
    height: 460px;
  }
  .region-list li:nth-child(4) {
    height: 380px;
  }
  .region-list li:nth-child(5) {
    height: 410px;
  }
  .catalog {
    margin-top: 120px;
  }
  .catalog-title {
    line-height: 112%;
  }
  .catalog-wrapper {
    margin-bottom: 28px;
    flex-wrap: wrap-reverse;
    align-items: normal;
    gap: 25px;
  }
  .catalog-name {
    width: 119px;
  }
  .catalog-subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 98%;
    letter-spacing: normal;
  }
  .catalog-desc {
    margin-top: 18px;
    line-height: 129%;
  }
  .catalog-info {
    margin-top: auto;
  }
  .catalog-link {
    padding: 15px 0;
  }
  .catalog-list {
    margin-top: 28px;
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
  }
  .catalog-item {
    width: 100%;
    height: 750px;
    padding: 10px 22px 22px 22px;
  }
  .color {
    margin-top: 120px;
  }
  .color .container {
    border-radius: 0;
    padding: 146px 0 15px;
  }
  .color .container .color-img {
    display: none;
  }
  .color .container .color-imgmob {
    position: absolute;
    top: 0;
    left: 0;
  }
  .color-content {
    border-radius: 10px;
    max-width: 360px;
    margin: 0 auto;
    width: 100%;
    padding: 30px 12px 12px 12px;
  }
  .color-title {
    line-height: 112%;
  }
  .color-desc {
    line-height: 129%;
    max-width: 336px;
    margin-top: 20px;
  }
  .color-form {
    margin-top: 43px;
  }
  .color-form input {
    width: 100%;
    border: none;
    display: block;
    border-radius: 5px;
    background: #ebebeb;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    line-height: 133%;
    padding: 25px 20px;
    color: #818991;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .color-form input {
    font-size: 14px;
    padding: 21px 19px;
  }
}
@media (max-width: 768px) {
  .color .form-info {
    gap: 5px;
  }
  .color-info {
    margin-top: 30px;
    line-height: 133%;
    font-size: 12px;
    max-width: 336px;
  }
  .color-btn {
    background: #0139b0;
    color: #fff;
    text-align: center;
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 15px 0;
    margin-top: 25px;
    height: auto;
    font-size: 16px;
  }
  .projects {
    margin-top: 120px;
  }
  .projects-wrapper {
    flex-wrap: wrap;
    align-items: normal;
    margin-bottom: 28px;
    gap: 25px;
  }
  .projects-title {
    max-width: 307px;
    line-height: 112%;
  }
  .projects-nav {
    margin-top: 22px;
  }
  .projects-nav span {
    font-size: 16px;
  }
  .projects-nav .projects-pagination {
    gap: 15px;
  }
  .projects-nav .projects-pagination img {
    width: 33px;
    height: 16px;
  }
  .projects-name {
    width: 119px;
  }
  .projects-slider {
    height: auto !important;
    display: flex;
    justify-content: center;
  }
  .projects-slider .slider-container {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 360px;
  }
  .projects-slider .slide {
    position: static !important;
    width: 360px !important;
    height: 250px !important;
    opacity: 1 !important;
  }
  .projects-slider .slide[data-size] {
    left: auto !important;
  }
  .projects-slider .slide img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  .vr {
    margin-top: 110px;
  }
  .vr-wrapper {
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 28px;
  }
  .vr-title {
    line-height: 112%;
  }
  .vr-name {
    width: 119px;
  }
  .vr-block {
    flex-wrap: wrap;
    gap: 28px;
    padding-top: 28px;
    border-top: 2px solid #f0f0f0;
    margin-top: 28px;
  }
  .vr-subtitle {
    font-size: 20px;
    line-height: 112%;
    letter-spacing: -0.02em;
  }
  .vr-desc {
    font-weight: 500;
    font-size: 16px;
    margin-top: 12px;
  }
  .vr-content {
    margin-top: 28px;
    position: relative;
    width: 100%;
    max-height: 100%;
    height: 250px;
    max-width: 100%;
  }
  .vr-content img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .vr-btn {
    width: 116px; /* Размеры вашего круглого изображения */
    height: 116px;
    font-size: 14px;
    background: url("../assets/vr-4.svg") center/contain no-repeat;
  }
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
    background: rgba(0, 0, 0, 0.5);
  }
  .popup-content {
    position: relative;
    margin-top: 30px;
    background: #fff;
    padding: 36px 12px 38px 12px;
    border-radius: 5px;
    max-width: 360px;
    width: 100%;
    z-index: 1001;
  }
  .popup-content img {
    width: 100%;
  }
  .popup-close {
    position: absolute;
    top: 20px;
    right: 19px;
    width: 16px;
    height: 16px;
  }
  .cost {
    margin-top: 120px;
  }
  .cost .container {
    border-radius: 0;
    padding: 182px 0 15px;
  }
  .cost .container img {
    position: absolute;
    height: 100%;
    top: -20px;
    right: 0;
  }
  .cost-content {
    border-radius: 5px;
    max-width: 360px;
    width: 100%;
    padding: 30px 12px 12px 12px;
    margin: 0 auto;
  }
  .cost-title {
    line-height: 112%;
  }
  .cost-desc {
    line-height: 129%;
    max-width: 336px;
    margin-top: 20px;
  }
  .cost-form {
    margin-top: 70px;
  }
  .form-info {
    gap: 5px;
  }
  .cost-info {
    margin-top: 30px;
    line-height: 133%;
    font-size: 12px;
    max-width: 336px;
  }
  .cost-btn {
    background: #0139b0;
    color: #fff;
    text-align: center;
    display: block;
    width: 100%;
    cursor: pointer;
    margin-top: 25px;
    height: auto;
    font-size: 16px;
    padding: 15px 0;
  }
  .select-wrapper {
    margin-bottom: 0;
  }
  .coating-select {
    padding-right: 50px !important;
    cursor: pointer;
  }
  .select-arrow {
    right: 19px;
    width: 11px;
    height: 7px;
  }
  .select-options {
    font-size: 14px;
  }
  .stages {
    margin-top: 120px;
  }
  .stages-wrapper {
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 28px;
    align-items: normal;
  }
  .stages-title {
    max-width: 340px;
    line-height: 112%;
  }
  .stages-name {
    width: 119px;
  }
  .stages-list {
    margin-top: 28px;
    gap: 28px;
  }
  .stages-list li {
    gap: 31px;
    flex-direction: column;
    height: auto;
    padding: 22px;
  }
  .stages-desc {
    line-height: 136%;
    margin-top: 25px;
  }
  .stages-number {
    font-size: 18px;
  }
  .stages-subtitle {
    font-size: 20px;
    line-height: 98%;
    letter-spacing: normal;
  }
  .certificates {
    padding: 0;
    background: inherit;
    margin-top: 120px;
  }
  .certificates-wrapper {
    flex-wrap: wrap;
    gap: 25px;
    align-items: normal;
    margin-bottom: 28px;
  }
  .certificates-name {
    width: 119px;
  }
  .certificates-title {
    max-width: 320px;
    line-height: 112%;
  }
  .certificates-nav {
    margin-top: 22px;
  }
  .certificates-nav span {
    font-size: 16px;
  }
  .certificates-nav .certificates-pagination {
    gap: 15px;
  }
  .certificates-nav .certificates-pagination img {
    width: 33px;
    height: 17px;
  }
  .certificates-slider {
    margin-top: 28px;
  }
  #certificates .certificates-slider {
    margin-top: 28px;
  }
  #certificates .slide img {
    height: 522px;
    object-fit: cover;
    border-radius: 5px;
  }
  .questions {
    margin-top: 113px;
  }
  .questions-wrapper {
    flex-wrap: wrap-reverse;
    align-items: normal;
    margin-bottom: 28px;
    gap: 25px;
  }
  .questions-title {
    line-height: 112%;
  }
  .questions-name {
    width: 119px;
  }
  .questions-list {
    margin-top: 50px;
  }
  .questions-desc {
    margin-top: 25px;
    line-height: 136%;
  }
  .questions-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 98%;
    letter-spacing: normal;
  }
  .questions-list {
    margin-top: 28px;
    gap: 28px;
  }
  .questions-list li {
    padding: 22px;
    height: auto;
    width: 100%;
  }
  .contacts {
    margin-top: 120px;
    background: #0139b0;
    padding: 16px 0 77px;
  }
  .contacts img {
    display: none;
  }
  .contacts .container {
    display: flex;
    gap: 10px;
  }
  .contacts-content {
    width: 100%;
    padding: 30px 12px 12px 12px;
    background: white;
    border-radius: 5px;
  }
  .contacts-name {
    display: none;
  }
  .contacts-title {
    max-width: 320px;
    color: #1e2d3d;
    font-family: "Inter", sans-serif;
    line-height: 112%;
    margin-top: 0;
  }
  .contacts-desc {
    max-width: 335px;
    line-height: 129%;
    color: #818991;
    margin-top: 20px;
  }
  .contacts-form {
    margin-top: 30px;
  }
  .contacts-form .form-info {
    gap: 5px;
  }
  .contacts-info {
    line-height: 133%;
    font-size: 12px;
    color: #818991;
    max-width: 335px;
    margin-top: 30px;
  }
  .contacts-btn {
    margin-top: 25px;
    background: #0139b0;
    color: white;
    height: auto;
    font-size: 16px;
    padding: 15px 0;
  }
  .map {
    margin-top: 120px;
  }
  .map iframe {
    border-radius: 5px;
    height: 225px;
  }
  .footer {
    display: none;
  }
  .footer-mob {
    display: block;
    margin-bottom: 15px;
  }
  .footer-mob .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
  .footer-mob__address {
    border-radius: 15px;
    background: #f7f7f7;
    padding: 30px 22px;
    display: flex;
    gap: 40px;
    flex-direction: column;
  }
  .footer-mob__address p {
    font-weight: 500;
    font-size: 20px;
    line-height: 113%;
    color: #1e2d3d;
    margin-top: 40px;
  }
  .footer-mob__address-block span {
    font-size: 18px;
    color: #818991;
    font-family: "Helvetica Neue", sans-serif;
  }
  .footer-mob__address-block div {
    display: flex;
    gap: 14px;
    align-items: center;
  }
  .footer-mob__address-block:first-child {
    padding-bottom: 40px;
    border-bottom: 1.5px solid #ececec;
  }
  .footer-mob__link {
    background: #0139b0;
    color: #fff;
    text-align: center;
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 15px 0;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #fff;
  }
  .footer-mob__write {
    border-radius: 15px;
    background: #f7f7f7;
    padding: 30px 22px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .footer-mob__write div {
    display: flex;
    gap: 14px;
    align-items: center;
  }
  .footer-mob__write span {
    font-size: 18px;
    color: #818991;
    font-family: "Helvetica Neue", sans-serif;
  }
  .footer-mob__write a {
    font-weight: 500;
    font-size: 28px;
    line-height: 98%;
    color: #1e2d3d;
  }
  .footer-mob__wrapper {
    border-radius: 15px;
    background: #f7f7f7;
    padding: 30px 22px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .footer-mob__wrapper .footer-nav {
    padding-bottom: 40px;
    border-bottom: 1.5px solid #ececec;
  }
  .footer-mob__wrapper .footer-nav h3 {
    font-weight: 400;
    font-size: 20px;
    color: #1e2d3d;
    font-family: "Helvetica Neue", sans-serif;
  }
  .footer-mob__wrapper .footer-nav ul {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer-mob__wrapper .footer-nav ul a {
    font-weight: 400;
    font-size: 18px;
    font-family: "Helvetica Neue", sans-serif;
    color: #818991;
  }
  .footer-mob__wrapper .footer-nav .footer-images {
    display: flex;
    gap: 27px;
    padding-bottom: 40px;
    border-bottom: 1.5px solid #ececec;
    flex-direction: row;
  }
  .footer-mob__wrapper .footer-nav .footer-images::after {
    right: 120px;
  }
  .footer-mob__wrapper .footer-nav:nth-child(3) {
    border-bottom: none;
    padding-bottom: 0;
  }
  .footer-mob__close {
    margin-top: 40px;
    font-weight: 300;
    font-size: 14px;
    line-height: 129%;
    color: #aaa8a8;
    font-family: "Helvetica Neue", sans-serif;
  }
  .footer-mob__info {
    padding: 30px 22px;
    background: #f7f7f7;
    border-radius: 15px;
  }
  .footer-mob__info span {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #1e2d3d;
  }
  .footer-mob__info p {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: #aaa8a8;
    margin-top: 25px;
  }
  .footer-mob__bottom {
    padding: 30px 22px;
    border-radius: 15px;
    background: #f7f7f7;
  }
  .footer-mob__bottom-info {
    display: flex;
    gap: 15px;
    margin-top: 25px;
  }
  .footer-mob__bottom img {
    display: block;
  }
  .footer-mob__politics {
    text-decoration: underline;
    font-family: "Helvetica Neue", sans-serif;
    text-decoration-skip-ink: none;
    color: #1e2d3d;
  }
  .footer-mob__dev {
    color: #1e2d3d;
    display: block;
    font-family: "Helvetica Neue", sans-serif;
    margin-top: 25px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1.5px solid #ececec;
  }
}

/*# sourceMappingURL=style.css.map */
