$accent-color: #0139b0;
$main-color: #1e2d3d;
$second-color: #fff;
$desc-color: #818991;
$aqua-color: #8db0d6;
$back-color: #f7f7f7;

@mixin flex-default {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin input {
  width: 100%;
  border: none;
  display: block;
  border-radius: 5px;
  background: #ebebeb;
  font-size: 18px;
  line-height: 133%;
  padding: 30px 20px;
  color: $desc-color;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image {
  max-width: 100%;
  max-height: 80vh;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  object-fit: contain; /* Это сохранит пропорции изображения */
}

.modal-close {
  position: absolute;
  top: -50px;
  right: -50px;
  background: none;
  border: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.modal-close:hover {
  transform: scale(1.2);
}

@mixin section-name {
  letter-spacing: -0.04em;
  flex-shrink: 0;
  color: $desc-color;
  padding: 15px 0;
  border: 1px solid $desc-color;
  border-radius: 36px;
  text-align: center;
}

@mixin title {
  font-weight: 500;
  font-size: clamp(24px, 3.333vw, 64px);
  line-height: 103%;
  letter-spacing: -0.02em;
}

@mixin btn {
  background: $accent-color;
  color: $second-color;
  text-align: center;
  display: block;
  width: 100%;
  cursor: pointer;
}


.back {
  padding-top: 84px;

  img {
    width: 100%;
  }
}

//philosophy

.philosophy {
  margin-top: 190px;

  &-title {
    @include title;
    font-family: "Helvetica Neue", sans-serif;
    max-width: 1404px;
    width: 100%;

    span {
      font-weight: 500;
      color: $aqua-color;
    }
  }

  &-name {
    @include section-name;
    width: 161px;
  }

  &-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 311px;
    margin-bottom: 50px;
  }

  &-desc {
    max-width: 697px;
    margin-top: 50px;
    margin-left: 472px;
    font-size: 18px;
    line-height: 156%;
    color: $desc-color;
    
    //@media screen and (max-width: 1880px){
    //  margin-left: 430px;
    //}
  }

  &-images {
    margin-top: 190px;
    display: flex;
    gap: 10px;

    img {
      flex: 1; // Равномерно распределяем пространство
      max-width: 50%; // Не даём каждому изображению быть больше половины
      object-fit: cover;
      height: auto;
    }
  }
}

//edge

.edge {
  margin-top: 190px;

  &-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 311px;
    margin-bottom: 50px;
  }

  &-name {
    @include section-name;
    width: 161px;
    flex-shrink: 0;
  }

  &-title {
    font-family: "Helvetica Neue", sans-serif;
    @include title;
    max-width: 1404px;
    width: 100%;

    span {
      font-weight: 500;
      color: $aqua-color;
    }
  }

  &-list {
    margin-top: 50px;
    display: flex;
    gap: 10px;

    li {
      border-radius: 15px;
      width: 24%;
      padding: 22px 23px 25px 24px;
      background: $back-color;
      height: 461px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:hover {
        background: #0d3896;

        .edge-num {
          color: $second-color;
        }

        .edge-desc {
          color: $second-color;
        }

        .edge-subtitle {
          color: $second-color;
        }

      }
    }
  }

  &-num {
    font-weight: 400;
    font-size: 18px;
    line-height: 117%;
    color: $accent-color;
  }

  &-subtitle {
    font-size: 36px;
    line-height: 98%;
    margin-top: 32px;

  }

  &-desc {
    font-size: 16px;
    line-height: 131%;
    color: $desc-color;
    margin-top: auto;

  }
}

//numbers

.numbers {
  margin-top: 190px;

  &-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 312px;
    margin-bottom: 50px;
  }

  &-name {
    @include section-name;
    width: 161px;
  }

  &-title {
    @include title;
    font-family: "Helvetica Neue", sans-serif;
    max-width: 1404px;
    width: 100%;

    span {
      font-weight: 500;
      color: $aqua-color;
    }
  }

  &-list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    //justify-content: center;
    //align-items: center;

    li {
      padding-left: 472px;
      border-bottom: 1px solid $desc-color;
      display: flex;
      align-items: flex-end;
      //justify-content: center;
      width: 100%;
      padding-bottom: 25px;
      gap: 55px;

      span:first-child {
        font-size: 80px;
        line-height: 90%;
        letter-spacing: -0.06em;
        color: #0d3896;
        width: 180px;
        text-align: left;
        flex-shrink: 0;
      }

      span:nth-child(2) {
        font-size: 18px;
        line-height: 117%;
        color: $desc-color;
        width: 500px;
      }
    }
  }

  &-video {
    width: 100%;
    margin-top: 100px;
    border-radius: 15px;
  }
}

.back-img__mob {
  display: none;
}

@media screen and (max-width: 768px) {

  .back {
    padding-top: 36px;

    .back-img {
      display: none;
    }

    .back-img__mob {
      display: block;
    }

  }

  .philosophy {
    margin-top: 120px;

    &-title {
      max-width: 360px;
    }

    &-name {
      width: 119px;
      padding: 9px 0;
    }

    &-wrapper {
      flex-wrap: wrap;
      align-items: center;
      gap: 25px;
      margin-bottom: 28px;
    }

    &-desc {
      max-width: 360px;
      margin-top: 28px;
      margin-left: 0;
      font-size: 14px;
      line-height: 136%;
    }

    &-images {
      margin-top: 40px;
      gap: 10px;
      flex-direction: column;

      img {
        border-radius: 5px;
        width: 100%;
      }
    }
  }

  .edge {
    margin-top: 120px;

    &-wrapper {
      flex-wrap: wrap;
      align-items: normal;
      gap: 25px;
      margin-bottom: 28px;
    }

    &-name {
      width: 119px;
      font-size: 12px;
      padding: 11px 0;
    }

    &-title {
      max-width: 300px;

    }

    &-list {
      margin-top: 28px;
      flex-wrap: wrap;
      gap: 28px;

      li {
        width: 100%;
        padding: 22px;
        height: 333px;

      }
    }

    &-num {
      font-family: "Kaushan Script", cursive;
      line-height: normal;
    }

    &-subtitle {
      font-weight: 500;
      font-size: 20px;
      line-height: 98%;
      margin-top: 31px;

    }

    &-desc {
      font-size: 14px;
      line-height: 136%;

    }
  }

  .numbers {
    margin-top: 120px;

    &-wrapper {
      flex-wrap: wrap;
      align-items: normal;
      gap: 25px;
      margin-bottom: 28px;
    }

    &-name {
      padding: 9px 0;
      width: 119px;
    }

    &-title {
      max-width: 360px;

    }

    &-list {
      margin-top: 39px;
      gap: 30px;

      li {
        padding-left: 0;
        align-items: flex-start;
        padding-bottom: 40px;
        flex-direction: column;
        gap: 25px;

        span:first-child {
          font-size: 50px;
          line-height: 90%;
          letter-spacing: -0.06em;
          width: auto;
        }

        span:nth-child(2) {
          font-size: 14px;
          max-width: 267px;
          line-height: 150%;
          width: auto;
        }
      }
    }

    &-video {
      margin-top: 75px;
      border-radius: 5px;
    }
  }


}



