* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}


button {
  border: none;
  background: none;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Helvetica Neue'; /* Название шрифта (можете задать любое) */
  src: url('../fonts/HelveticaNeue-Roman.otf') format('opentype'); /* Путь к файлу */
  font-weight: 400; /* Жирность (normal, bold, 700 и т. д.) */
  font-style: normal; /* Стиль (normal, italic) */
}

@font-face {
  font-family: 'Helvetica Neue'; /* Название шрифта (можете задать любое) */
  src: url('../fonts/HelveticaNeue-Bold.otf') format('opentype'); /* Путь к файлу */
  font-weight: 700; /* Жирность (normal, bold, 700 и т. д.) */
  font-style: normal; /* Стиль (normal, italic) */
}

@font-face {
  font-family: 'Helvetica Neue'; /* Название шрифта (можете задать любое) */
  src: url('../fonts/HelveticaNeue-Medium.otf') format('opentype'); /* Путь к файлу */
  font-weight: 500; /* Жирность (normal, bold, 700 и т. д.) */
  font-style: normal; /* Стиль (normal, italic) */
}

@font-face {
  font-family: 'Helvetica Neue'; /* Название шрифта (можете задать любое) */
  src: url('../fonts/HelveticaNeue-Light.otf') format('opentype'); /* Путь к файлу */
  font-weight: 300; /* Жирность (normal, bold, 700 и т. д.) */
  font-style: normal; /* Стиль (normal, italic) */
}

@font-face {
  font-family: 'Helvetica Neue'; /* Название шрифта (можете задать любое) */
  src: url('../fonts/HelveticaNeue-Thin.otf') format('opentype'); /* Путь к файлу */
  font-weight: 200; /* Жирность (normal, bold, 700 и т. д.) */
  font-style: normal; /* Стиль (normal, italic) */
}

.separator {
  width: 100%;
}

$accent-color: #0139b0;
$main-color: #1e2d3d;
$second-color: #fff;
$desc-color: #818991;
$aqua-color: #8db0d6;
$back-color: #f7f7f7;

@mixin flex-default {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin input {
  width: 100%;
  border: none;
  display: block;
  border-radius: 5px;
  background: #ebebeb;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  line-height: 133%;
  padding: 25px 20px;
  color: $desc-color;
  @media screen and (max-width: 768px) {
    font-size: 14px;
    padding: 21px 19px;
  }
}

@mixin section-name {
  letter-spacing: -0.04em;
  color: $desc-color;
  padding: 15px 0;
  flex-shrink: 0;
  border: 1px solid $desc-color;
  border-radius: 36px;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: 12px;
    border-radius: 100px;
    padding: 11px 0 10px 0;

  }
}

@mixin title {
  font-weight: 500;
  font-size: clamp(24px, 3.333vw, 64px);
  line-height: 103%;
  letter-spacing: -0.02em;
}

@mixin btn {
  background: $accent-color;
  color: $second-color;
  text-align: center;
  display: block;
  width: 100%;
  cursor: pointer;
}

body {
  color: $main-color;
  font-family: "Inter", sans-serif;
  background: $second-color;
  font-weight: 400;
  font-size: 16px;
}

.container {
  margin: auto;
  max-width: 1920px;
  padding: 0 22px;
}

//header

.header {
  width: 100%;
  padding-left: 22px;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 100000;
  background: $second-color;
  left: 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px solid #ededed;

  &-nav {
    display: flex;
    gap: 48px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-list {
    height: 100%;
    border-left: 1.50px solid #ededed;
    display: flex;
    gap: 2.6vw;
    justify-content: space-between;
    padding: 24px 0 25px 48px;

    @media screen and (max-width: 1500px) {
      gap: 20px;
    }
  }

  &-tel {
    display: block;
    padding: 24px 20px 26px 20px; /* Уменьшил отступы */
    border-left: 1.5px solid #ededed;
    white-space: nowrap; /* Запрещаем перенос текста */
  }

  &-link {
    padding: 24px 50px;
    text-align: center;
    display: block;
    background: $accent-color;
    max-width: 248px;
    width: 100%;
    font-size: 18px;
    color: $second-color;
  }

  &-info {
    display: flex;
    align-items: center;
  }
}

//main

.main {
  padding: 163px 0 0 0;

  img {
    width: 100%;
  }

  &-content {
    display: flex;
    align-items: flex-end;
    //flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &-title {
    @include title;
    line-height: 102%;
    max-width: 1017px;

    span {
      font-weight: 500;
      color: $accent-color;
    }
  }

  &-desc {
    max-width: 693px;
    font-weight: 400;
    font-size: clamp(14px, 0.9375vw, 18px);
    color: $desc-color;
  }

  &-link {
    margin-top: 40px;
    @include btn;
    max-width: 461px;
    border-radius: 5px;
    padding: 19px 0 20px;
  }
}

.main-slider {
  margin-top: 90px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100vh; /* Или нужную вам высоту */
  overflow-y: hidden; /* Убираем вертикальный скролл */
}

.main-slider img {
  flex: 0 0 100%;
  scroll-snap-align: start;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Убираем полосу прокрутки */
.main-slider::-webkit-scrollbar {
  display: none;
}

.main-slider {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

//advantages

.advantages {
  margin-top: 190px;
  padding: 121px 0 91px 0;
  background: $back-color;

  &-wrapper {
    display: flex;
    gap: 311px;
    align-items: flex-start;
    margin-bottom: 50px;
  }

  &-title {
    @include title;
    font-family: "Helvetica Neue", sans-serif;

    span {
      color: $aqua-color;
      font-weight: 500;
    }
  }

  &-name {
    @include section-name;
    width: 161px;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr)); // Ключевое изменение!
    grid-template-rows: repeat(4, auto);
    gap: 10px;
    margin-top: 50px;
    width: 100%;
    overflow: hidden; // Чтобы ничего не выходило за пределы

    // Первая строка
    .card-1 {
      grid-column: 1;
      grid-row: 1;
    }

    .card-2 {
      grid-column: 3;
      grid-row: 1;
    }

    // Вторая строка
    .card-3 {
      grid-column: 2;
      grid-row: 2;
    }

    .card-4 {
      grid-column: 4;
      grid-row: 2;
    }

    // Третья строка (как первая)
    .card-5 {
      grid-column: 1;
      grid-row: 3;
    }

    .card-6 {
      grid-column: 3;
      grid-row: 3;
    }

    // Четвертая строка (как вторая)
    .card-7 {
      grid-column: 2;
      grid-row: 4;
    }

    .card-8 {
      grid-column: 4;
      grid-row: 4;
    }

    li {
      background: $second-color;
      border-radius: 15px;
      width: 100%;
      padding: clamp(15px, 2vw, 26px) clamp(12px, 2vw, 24px); // Адаптивный padding
      box-sizing: border-box;

      // Адаптивные размеры текста
      .advantages-subtitle {
        font-size: clamp(20px, 2vw, 36px);
        line-height: 1.2;
      }

      .advantages-desc {
        font-size: clamp(12px, 1.5vw, 16px);
      }
    }

    li:nth-child(1) .advantages-img {
      @media screen and  (max-width: 1860px) {
        width: auto;
      }
    }

    li:nth-child(14) .advantages-img {
      @media screen and  (max-width: 1860px) {
        width: auto;
      }
    }

    li:nth-child(16) .advantages-img {
      @media screen and  (max-width: 1860px) {
        width: auto;
      }
    }

    .empty {
      // Пустые элементы будут автоматически уменьшаться
      min-width: 0; // Важно для сжатия
    }
  }

  &-desc {
    line-height: 131%;
    color: $desc-color;
    padding-top: 25px;
    border-top: 2px solid $back-color;
  }

  &-subtitle {
    //font-size: 36px;
    line-height: 98%;
    color: $accent-color;
    margin-top: 24px;
    padding-bottom: 25px;
    border-bottom: 2px solid $back-color;
  }

  &-img {
    display: block;
    //width: 100%;
    padding: 77px 0 76px 0;

    @media screen and  (max-width: 1860px) {
      width: 100%;
    }
  }

  &-img__wrapper {
    display: flex;
    justify-content: flex-end;
  }
}

//about

.about {
  margin-top: 190px;



  &-content {
    width: 100%;
    max-width: 1404px;
  }

  &-title {
    @include title;
    font-family: "Helvetica Neue", sans-serif;

    span {
      font-weight: 500;
      color: $aqua-color;
    }
  }

  &-name {
    @include section-name;
    width: 161px;
  }

  &-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 311px;
  }

  &-desc {
    margin-top: 50px;
    max-width: 697px;
    font-size: 18px;
    color: $desc-color;
  }

  &-link {
    padding: 28px 0 27px 0;
    margin-top: 50px;
    @include btn;
    max-width: 697px;
    font-weight: 500;
    font-size: 18px;
    height: 73px;
  }

  &-mob {
    display: none;
  }

  &-video {
    border-radius: 15px;
    width: 100%;
    margin-top: 50px;
  }

}

//region

.region {
  margin-top: 190px;

  &-wrapper {
    margin-bottom: 50px;
    display: flex;
    gap: 311px;
    align-items: flex-start;
  }

  &-name {
    @include section-name;
    width: 161px;
  }

  &-title {
    @include title;
    font-family: "Helvetica Neue", sans-serif;
    max-width: 930px;

    span {
      font-weight: 500;
      color: $aqua-color;
    }
  }

  &-number {
    font-family: "Kaushan Script", cursive;
    font-size: 18px;
    color: $accent-color;
  }

  &-desc {
    line-height: 131%;
    color: $desc-color;
    max-width: 542px;
  }

  &-subtitle {
    font-size: clamp(20px, 2vw, 36px);
    line-height: 98%;
    margin: 35px 0 31px;
  }

  &-list {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;

    li {
      display: flex;
      flex-direction: column;
      max-width: 930px;
      width: 100%;
      padding: 22px 16px 30px 16px;
      height: 564px;
      background: $back-color;
      border-radius: 15px;
      @media screen and (max-width: 1919px) {
        max-width: none;
        width: 49%;
      }

      img {
        text-align: center;
        display: block;
        margin: auto auto 0 auto;

        @media screen and (max-width: 1919px) {
          width: 70%;
        }
      }

      &:first-child img {

        @media screen and (max-width: 1919px) {

          width: 90%;
        }
      }

      &:nth-child(2) img {

        @media screen and (max-width: 1919px) {

          width: 90%;
        }
      }

      &:first-child {
        max-width: 460px;

        @media screen and (max-width: 1919px) {
          max-width: none;
          width: 24%;
        }
      }

      &:nth-child(2) {
        max-width: 460px;

        @media screen and (max-width: 1919px) {
          max-width: none;
          width: 24%;

        }
      }
    }
  }
}

//catalog

.catalog {
  margin-top: 190px;

  &-title {
    @include title;
    font-family: "Helvetica Neue", sans-serif;

    span {
      font-weight: 500;
      color: $aqua-color;
    }
  }

  &-wrapper {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &-name {
    @include section-name;
    width: 161px;
  }

  &-subtitle {
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 113%;
    letter-spacing: -0.02em;
  }

  &-desc {
    margin-top: 20px;
    line-height: 143%;
    color: $desc-color;
  }

  &-info {
    margin-top: auto;
    padding: 25px 0;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    gap: 15px;
    flex-direction: column;

    li {
      display: flex;
      gap: 12px;

      span:first-child {
        line-height: 143%;
        color: $desc-color;
      }

      span:nth-child(2) {
        font-weight: 500;
        line-height: 143%;
      }
    }
  }

  &-link {
    margin-top: 25px;
    @include btn;
    padding: 20px 0;
    position: relative;
    z-index: 2;
    border-radius: 5px;
  }

  &-list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr)); // Ключевое изменение!
    gap: 45px 10px;
    width: 100%;
    max-width: 100%; // Важно!

    @media screen and (max-width: 1700px){
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    /* Все карточки по умолчанию занимают 1 колонку */
    .catalog-item {
      grid-column: span 1;
    }

    /* 7-я карточка (4-я во второй строке) */
    .catalog-item:nth-child(7) {
      grid-column: 4; // Правая колонка
      grid-row: 2; // Вторая строка
    }

    /* 8-я и 9-я карточки (третья строка по центру) */
    .catalog-item:nth-child(8) {
      grid-column: 2; // Вторая колонка
      grid-row: 3; // Третья строка
    }

    .catalog-item:nth-child(9) {
      grid-column: 3; // Третья колонка
      grid-row: 3; // Третья строка
    }
  }

  &-item {
    height: 851px;
    max-width: 461px;
    padding: 15px 16px;
    background: $back-color;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &-item__link {
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
}

//color

.color {
  margin-top: 190px;

  .container {
    background: $accent-color;
    border-radius: 15px;
    position: relative;
    padding: 15px;
    overflow: hidden;

    img {
      position: absolute;
      height: 100%;
      top: -20px;
      right: 0;
    }
  }

  &-content {
    position: relative;
    z-index: 10;
    background: $second-color;
    border-radius: 15px;
    max-width: none;
    width: 44.4%;
    padding: 66px 30px;
  }

  &-title {
    font-family: "Helvetica Neue", sans-serif;
    @include title;

    span {
      font-weight: 500;
      color: $aqua-color;
    }
  }

  &-desc {
    line-height: 125%;
    max-width: 454px;
    color: $desc-color;
    margin-top: 35px;
  }

  &-form {
    margin-top: 104px;

    input {
      @include input;
    }
  }

  .form-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &-info {
    margin-top: 20px;
    line-height: 120%;
    font-size: 14px;
    max-width: 548px;
    color: $desc-color;

    a {
      text-decoration: underline;
    }
  }

  &-btn {
    @include btn;
    margin-top: 35px;
    height: 73px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
  }

}

//projects

.projects {
  margin-top: 190px;
  width: 100%;
  overflow: hidden;

  &-wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
    gap: 311px;
  }

  &-title {
    @include title;
    max-width: 1007px;
    font-family: "Helvetica Neue", sans-serif;

    span {
      font-weight: 500;
      color: $aqua-color;
    }
  }

  &-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    span {
      font-size: 36px;
      letter-spacing: -0.02em;
      font-family: "Kaushan Script", cursive;
      color: #b3b3b3;
    }

    .current-slide {
      color: #0139b0;
    }

    .projects-pagination {
      display: flex;
      gap: 20px;

      button {
        cursor: pointer;
      }
    }
  }

  &-name {
    @include section-name;
    width: 161px;
  }

  &-slider {
    margin-top: 50px;
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 648px; /* Высота самого большого слайда */
  }

  .slider-container {
    position: relative;
    height: 100%;
  }

  .slide {
    cursor: pointer; /* Добавляем указатель при наведении */
    position: absolute;
    transition: all 0.5s ease;
    top: 0; /* Прижато к верху */

    &[data-size="large"] {
      width: 933px;
      height: 648px;
      left: 0;
      z-index: 3;
    }

    &[data-size="medium"] {
      width: 462px;
      height: 516px;
      left: 943px; /* 933 + 10 */
      z-index: 2;
    }

    &[data-size="small"] {
      width: 461px;
      height: 339px;
      left: 1415px; /* 933 + 462 + 10 + 10 */
      z-index: 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: 15px;
    }
  }

  /* Адаптация для разных экранов */
  @media (max-width: 1800px) {
    &-slider {
      margin-top: 50px;
      overflow: hidden;
      width: 100%;
      position: relative;
      height: 558px; /* Высота самого большого слайда */
    }

    .slide {
      &[data-size="large"] {
        width: 800px;
        height: 555px;
      }

      &[data-size="medium"] {
        width: 400px;
        height: 445px;
        left: 810px;
      }

      &[data-size="small"] {
        width: 400px;
        height: 300px;
        left: 1220px;
      }
    }
  }

  @media (max-width: 1400px) {
    .slide {
      &[data-size="large"] {
        width: 600px;
        height: 416px;
      }

      &[data-size="medium"] {
        width: 300px;
        height: 334px;
        left: 610px;
      }

      &[data-size="small"] {
        width: 300px;
        height: 225px;
        left: 920px;
      }
    }
    &-slider {
      height: 416px;
    }
  }

  @media (max-width: 992px) {
    .slide {
      &[data-size="large"] {
        width: 450px;
        height: 312px;
      }

      &[data-size="medium"] {
        width: 220px;
        height: 250px;
        left: 460px;
      }

      &[data-size="small"] {
        width: 220px;
        height: 165px;
        left: 690px;
      }
    }
    &-slider {
      height: 312px;
    }
  }

  @media (max-width: 768px) {
    /* Вертикальный вариант для мобильных */
    .slider-container {
      display: flex;
      flex-direction: column;
      height: auto;
    }
    .slide {
      position: static;
      width: 100% !important;
      height: auto !important;
      margin-bottom: 20px;

      &[data-size] {
        left: auto !important;
      }
    }
    &-slider {
      height: auto;
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image {
  max-width: 100%;
  max-height: 80vh;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  object-fit: contain; /* Это сохранит пропорции изображения */
}

.modal-close {
  position: absolute;
  top: -50px;
  right: -50px;
  background: none;
  border: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.modal-close:hover {
  transform: scale(1.2);
}

//vr

.vr {
  margin-top: 164px;

  &-wrapper {
    display: flex;
    gap: 311px;
    align-items: flex-start;
    margin-bottom: 50px;
  }

  &-title {
    @include title;
    font-family: "Helvetica Neue", sans-serif;
    max-width: 1406px;
    width: 100%;

    span {
      font-weight: 500;
      color: $aqua-color;
    }
  }

  &-name {
    @include section-name;
    width: 161px;
  }

  &-block {
    display: flex;
    gap: 10px;
    padding-top: 35px;
    border-top: 2px solid #f0f0f0;
    margin-top: 35px;
  }

  &-subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.01em;
    color: #0642c1;
  }

  &-desc {
    font-weight: 600;
    font-size: 20px;
    line-height: 113%;
    letter-spacing: -0.02em;
    color: #1e2d3d;
    margin-top: 21px;
  }
}

.vr-content {
  margin-top: 50px;
  position: relative;
  width: 100%;
  max-width: 100%;
}

.vr-content img {
  width: 100%;
  height: auto;
  display: block;
}

.vr-btn {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 172px; /* Размеры вашего круглого изображения */
  height: 172px;
  border: none;
  border-radius: 50%;
  font-weight: 500;
  font-size: 20px;
  color: #0139b0;
  cursor: pointer;
  transition: all 0.3s ease;
  background: url("../assets/vr-4.svg") center/contain no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  //background-color: transparent;
}

.vr-btn:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.vr-btn span {
  position: relative;
  z-index: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.5);
}

.popup-content {
  position: relative;
  margin-top: 30px;
  background: #fff;
  padding: 35px 30px 53px 30px;
  border-radius: 12px;
  max-width: 1368px;
  width: 100%;
  z-index: 1001;
}

.popup-close {
  position: absolute;
  top: 35px;
  right: 30px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  background: none;
  border: none;
}

.popup-close svg {
  width: 100%;
  height: 100%;
}

.popup-close:hover path {
  stroke: #000;
}

//cost

.cost {
  margin-top: 190px;
}

.cost .container {
  background: $accent-color;
  border-radius: 15px;
  position: relative;
  padding: 15px;
  overflow: hidden;
}

.cost .container img {
  position: absolute;
  height: 100%;
  top: -20px;
  right: 0;
}

.cost-content {
  position: relative;
  z-index: 10;
  background: $second-color;
  border-radius: 15px;
  max-width: 44.4%;
  width: 100%;
  padding: 66px 30px;
}

.cost-title {
  font-family: "Helvetica Neue", sans-serif;
  @include title;
}

.cost-title span {
  font-weight: 500;
  color: $aqua-color;
}

.cost-desc {
  line-height: 144%;
  max-width: 616px;
  color: $desc-color;
  margin-top: 37px;
}

.cost-form {
  margin-top: 104px;
}

.cost-form input {
  @include input;
}

.form-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cost-info {
  margin-top: 20px;
  line-height: 120%;
  font-size: 14px;
  max-width: 548px;
  color: $desc-color;
}

.cost-info a {
  text-decoration: underline;
}

.cost-btn {
  @include btn;
  margin-top: 35px;
  height: 73px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
}

/* Стили для многошаговой формы */
.form-step {
  display: none;
}

.form-step.active {
  display: block;
}

/* Стили для кастомного select */
.select-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.coating-select {
  padding-right: 50px !important;
  cursor: pointer;
}

.select-arrow {
  position: absolute;
  right: 33px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
  pointer-events: none;
}

.select-wrapper.active .select-arrow {
  transform: translateY(-50%) rotate(180deg);
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 10;
  margin-top: 5px;
  max-height: 200px; /* Ограничиваем высоту */
  overflow-y: auto; /* Добавляем прокрутку */
}

.select-wrapper.active .select-options {
  display: block;
}

.option {
  padding: 15px 20px;
  cursor: pointer;
}

.option:hover {
  background: #f5f5f5;
}

/* Стили для ошибок */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: none;
}

input:invalid,
.coating-select.invalid,
input.invalid {
  border-color: red !important;
}

//stages

.stages {
  margin-top: 190px;

  &-wrapper {
    display: flex;
    gap: 311px;
    margin-bottom: 50px;
    align-items: flex-start;
  }

  &-title {
    @include title;
    font-family: "Helvetica Neue", sans-serif;
    max-width: 930px;
    width: 100%;

    span {
      font-weight: 500;
      color: $aqua-color;
    }
  }

  &-name {
    @include section-name;
    width: 132px;
  }

  &-list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      border-radius: 15px;
      display: flex;
      gap: 136px;
      height: 202px;
      padding: 45px 0 0 45px;
      background: $back-color;
    }
  }

  &-desc {
    line-height: 150%;
    color: $desc-color;
    margin-top: 30px;
  }

  &-number {
    font-family: "Kaushan Script", cursive;
    font-size: 45px;
    color: $accent-color;
  }

  &-subtitle {
    font-weight: 500;
    font-size: 28px;
    line-height: 90%;
    letter-spacing: 0.01em;
  }
}

//certificates

.certificates {
  padding: 86px 0 121px;
  background: $back-color;
  margin-top: 190px;

  &-wrapper {
    display: flex;
    gap: 311px;
    align-items: flex-start;
    margin-bottom: 50px;
  }

  &-name {
    @include section-name;
    width: 147px;
  }

  &-title {
    @include title;
    max-width: 1024px;
    width: 100%;

    span {
      font-weight: 500;
      color: $aqua-color;
    }
  }

  &-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    span {
      font-size: 36px;
      letter-spacing: -0.02em;
      font-family: "Kaushan Script", cursive;
      color: #b3b3b3;
    }

    .current-slide {
      color: #0139b0;
    }

    .certificates-pagination {
      display: flex;
      gap: 20px;

      button {
        cursor: pointer;
      }
    }
  }

  &-slider {
    cursor: pointer;
    margin-top: 50px;
    overflow: hidden;
    width: 100%;
    position: relative;
  }

}

#certificates .certificates-slider {
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-top: 50px;
}

#certificates .slider-container {
  display: flex;
  gap: 10px;
  transition: transform 0.5s ease;
  will-change: transform;
}

#certificates .slide {
  flex: 0 0 calc(25% - 7.5px); /* 4 слайда с учетом gap */
  opacity: 1 !important; /* Принудительно делаем видимыми */
  z-index: 1 !important; /* Принудительно устанавливаем z-index */
}

#certificates .slide img {
  width: 100%;
  height: 669px;
  //object-fit: cover;
  display: block;
  border-radius: 10px;
}

/* Адаптация */
@media (max-width: 1560px) {
  #certificates .slide {
    flex: 0 0 calc(33.333% - 6.666px); /* 3 слайда */
  }
}

@media (max-width: 768px) {
  #certificates .slide {
    flex: 0 0 calc(50% - 5px); /* 2 слайда */
  }
}

@media (max-width: 480px) {
  #certificates .slide {
    flex: 0 0 100%; /* 1 слайд */
  }
}

//questions

.questions {
  margin-top: 190px;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
  }

  &-title {
    @include title;
    font-family: "Helvetica Neue", sans-serif;
    max-width: 930px;

    span {
      font-weight: 500;
      color: $aqua-color;
    }
  }

  &-name {
    @include section-name;
    width: 132px;
  }

  &-list {
    margin-top: 50px;
  }

  &-desc {
    margin-top: 40px;
    line-height: 150%;
    color: $desc-color;
  }

  &-subtitle {
    font-size: 28px;
    line-height: 90%;
    letter-spacing: -0.06em;
  }

  &-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    li {
      padding: 30px 30px 0 30px;
      border-radius: 15px;
      background: $back-color;
      height: 214px;
      width: 49.6%;
    }
  }
}

//contacts

.separator-mob {
  display: none;
}

.footer-mob {
  display: none;
}

.color-imgmob {
  display: none;
}

.contacts {
  margin-top: 190px;

  img {
    width: 50%;
  }

  .container {
    display: flex;
    gap: 10px;
  }

  &-content {
    width: 50%;
    background: $accent-color;
    padding: 30px 30px 40px 30px;
    border-radius: 15px;
  }

  &-name {
    @include section-name;
    width: 132px;
    color: $second-color;
    border: 1px solid $second-color;
    display: block;
    padding: 14px 0;
  }

  &-title {
    font-family: "Helvetica Neue", sans-serif;
    max-width: 842px;
    @include title;
    color: $second-color;
    margin-top: 42px;
    font-size: clamp(24px, 3.333vw, 55px);
  }

  &-desc {
    max-width: 458px;
    line-height: 150%;
    color: $second-color;
    margin-top: 35px;
  }

  &-form {
    margin-top: 86px;

    input {
      @include input
    }

    .form-info {
      display: flex;
      gap: 8px;
      flex-direction: column;
    }
  }

  &-info {
    line-height: 120%;
    font-size: 14px;
    color: #fff;
    max-width: 456px;
    margin-top: 20px;

    a {
      text-decoration: underline;
    }
  }

  &-btn {
    @include btn;
    margin-top: 35px;
    background: $second-color;
    color: $main-color;
    height: 73px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
  }
}

//map

.map {
  margin-top: 190px;

  iframe {
    border-radius: 15px;
    height: 802px;
  }
}

//footer

.footer {
  margin: 25px 0;

  &-block {
    background: $back-color;
    padding: 35px 35px 35px 29px;
    border-radius: 15px;
    width: 49.9%;
    height: 252px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
      font-size: 64px;
      line-height: 102%;
      letter-spacing: -0.02em;
    }
  }

  &-wrapper {
    display: flex;
    gap: 10px;
  }

  &-span {
    font-size: 24px;
    color: $desc-color;
    font-family: "Helvetica Neue", sans-serif;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &-address__wrapper {
    padding: 50px 0;
    max-width: 910px;
    width: 100%;
  }

  .footer-content {
    border-left: 1.5px solid #ececec;
    padding: 50px 0;

  }

  &-border {
    margin-top: 38px;
    //padding: 50px 0;
    border-top: 1.5px solid #ececec;
    border-bottom: 1.5px solid #ececec;
    display: flex;
  }

  &-links {
    width: 100%;
    padding-right: 123px;
    padding-left: 32px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1768px) {
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  &-main {
    margin-top: 10px;
    padding: 38px 25px 377px 25px;
    border-radius: 15px;
    background: $back-color;
    position: relative;
    overflow: hidden;
  }

  &-logo {
    display: flex;
    justify-content: space-between;

    button {
      font-size: 18px;
      letter-spacing: -0.04em;
      text-align: right;
      color: #505050;
      font-family: "Helvetica Neue", sans-serif;
      display: flex;
      gap: 8px;
      align-items: center;
      cursor: pointer;
    }
  }

  &-address {
    display: flex;
    flex-direction: column;
    gap: 90px;
  }

  &-btn {
    @include btn;
    padding: 18px 0 19px;
    border-radius: 5px;
    width: 290px;
    margin-top: 45px;
    border-radius: 5px;
  }

  &-desc {
    max-width: 638px;
    font-size: 30px;
    line-height: 116%;
    margin-top: 30px;
    letter-spacing: -0.02em;
  }

  &-nav {
    h3 {
      font-size: 24px;
      font-family: "Helvetica Neue", sans-serif;
    }

    ul {
      margin-top: 28px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-size: 18px;
      color: $desc-color;
      font-family: "Helvetica Neue", sans-serif;

    }

    .footer-images {
      display: flex;
      flex-direction: row;
      gap: 24px;
      position: relative;
    }

    .footer-images::after {
      position: absolute;
      right: -10px;
      top: -15px;
      content: url("../assets/star.svg");
    }
  }

  &-meta {
    font-weight: 300;
    font-size: 14px;
    color: #aaa8a8;
    margin-top: 69px;
    padding-left: 32px;
  }

  &-politics {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: "Helvetica Neue", sans-serif;
    padding-top: 50px;
    border-top: 1.5px solid #ececec;
  }

  &-info {
    margin: 50px 0 40px;
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }

    span {
      font-weight: 400;
      font-size: 18px;
      font-family: "Helvetica Neue", sans-serif;
    }

    p {
      line-height: 129%;
      color: #aaa8a8;
      max-width: 878px;
    }

  }

  &-back {
    position: absolute;
    bottom: -10px;
    left: 28px;
    width: 100%;
  }
}

@media (max-width: 768px) {

  .container {
    max-width: 390px;
    padding: 0 15px;
  }

  .separator {
    display: none;
  }

  .separator-mob {
    display: block;
  }

  .header {
    display: none;
  }

  .main {
    padding: 137px 0 0 0;

    .separator {
      display: none;
    }

    img {
      width: 100%;
    }

    &-content {
      flex-wrap: wrap;
      gap: 26px;
      align-items: normal;
      margin-bottom: 0;
    }

    &-title {
      line-height: 112%;
    }

    &-desc {
      line-height: 136%;
    }

    &-link {
      margin-top: 163px;
      font-weight: 500;
      padding: 15px 0;
    }
  }

  .main-slider {
    margin-top: 21px;
    width: 100%;
    height: 247px; /* Или нужную вам высоту */
  }

  .advantages {
    margin-top: 120px;
    padding: 60px 0 76px 0;

    &-wrapper {
      gap: 25px;
      flex-wrap: wrap;
      align-items: normal;
      margin-bottom: 28px;
    }

    &-title {
      line-height: 112%;
      max-width: 310px;

      span {
        color: $aqua-color;
        font-weight: 500;
      }
    }

    &-name {
      @include section-name;
      width: 119px;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 28px;
      margin-top: 28px;

      li {
        padding: 22px; // Адаптивный padding
      }

      li .advantages-subtitle {
        font-size: clamp(20px, 2vw, 36px);
        line-height: 98%;
        font-weight: 500;
      }

      li .advantages-desc {
        font-size: 14px;
      }

      .empty {
        // Пустые элементы будут автоматически уменьшаться
        display: none // Важно для сжатия
      }
    }

    li:first-child {
      .advantages-img {
        height: 188px;
      }
    }

    li:nth-child(3) {
      .advantages-img {
        height: 149px;
      }
    }

    li:nth-child(6) {
      .advantages-img {
        height: 141px;
      }
    }

    li:nth-child(8) {
      .advantages-img {
        height: 141px;
      }
    }

    li:nth-child(9) {
      .advantages-img {
        height: 141px;
      }
    }

    li:nth-child(11) {
      .advantages-img {
        height: 141px;
      }
    }

    li:nth-child(14) {
      .advantages-img {
        height: 191px;
      }
    }

    li:nth-child(16) {
      .advantages-img {
        height: 188px;
      }
    }

    &-desc {
      line-height: 136%;
    }

    &-subtitle {
      border-bottom: none;
      max-width: 239px;
      width: 100%;
      border-bottom: 2px solid #f7f7f7;

      margin-top: -20px;
    }

    &-img {
      display: block;
      //width: 100%;
      padding: 35px 0;
    }

    &-img__wrapper {
      display: flex;
      justify-content: flex-end;
    }
  }

  .about {
    margin-top: 120px;

    &-content {
      width: 100%;
      max-width: 1404px;

      a {
        display: none;
      }
    }

    &-title {
      @include title;
      line-height: 112%;
    }

    &-name {
      width: 119px;
    }

    &-wrapper {
      flex-wrap: wrap;
      align-items: normal;
      gap: 25px;
    }

    &-desc {
      margin-top: 32px;
      font-size: 14px;
    }

    &-link {
      margin-top: 25px;
      @include btn;
      font-size: 16px;
      padding: 15px 0;
      border-radius: 5px;
      height: auto;
    }

    &-mob {
      display: block;
    }

    &-video {
      border-radius: 5px;
      margin-top: 32px;
    }

  }

  .region {
    margin-top: 110px;

    &-wrapper {
      margin-bottom: 28px;
      gap: 25px;
      flex-wrap: wrap;
      align-items: normal;
    }

    &-name {
      width: 119px;
    }

    &-title {
      line-height: 112%;
      max-width: 300px;
    }

    &-desc {
      line-height: 136%;
    }

    &-subtitle {
      font-size: 20px;
      margin: 31px 0 23px;
    }

    &-list {
      margin-top: 28px;
      gap: 28px;

      li {
        max-width: 360px;
        padding: 22px;
        height: 493px;
        background: $back-color;
        border-radius: 15px;

        img {
          width: 100%;
        }

        &:nth-child(3) {
          height: 460px;
        }

        &:nth-child(4) {
          height: 380px;
        }

        &:nth-child(5) {
          height: 410px;
        }
      }
    }
  }

  .catalog {
    margin-top: 120px;

    &-title {
      line-height: 112%;
    }

    &-wrapper {
      margin-bottom: 28px;
      flex-wrap: wrap-reverse;
      align-items: normal;
      gap: 25px;
    }

    &-name {
      width: 119px;
    }

    &-subtitle {
      font-weight: 500;
      font-size: 18px;
      line-height: 98%;
      letter-spacing: normal;
    }

    &-desc {
      margin-top: 18px;
      line-height: 129%;
    }

    &-info {
      margin-top: auto;

    }

    &-link {
      padding: 15px 0;
    }

    &-list {
      margin-top: 28px;
      display: flex;
      flex-wrap: wrap;
      gap: 28px;
    }

    &-item {
      width: 100%;
      height: 750px;
      padding: 10px 22px 22px 22px;
    }

  }

  .color {
    margin-top: 120px;

    .container {
      border-radius: 0;
      padding: 146px 0 15px;

      .color-img {
        display: none;
      }

      .color-imgmob {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &-content {
      border-radius: 10px;
      max-width: 360px;
      margin: 0 auto;
      width: 100%;
      padding: 30px 12px 12px 12px;
    }

    &-title {
      line-height: 112%;
    }

    &-desc {
      line-height: 129%;
      max-width: 336px;
      margin-top: 20px;
    }

    &-form {
      margin-top: 43px;

      input {
        @include input;
      }
    }

    .form-info {
      gap: 5px;
    }

    &-info {
      margin-top: 30px;
      line-height: 133%;
      font-size: 12px;
      max-width: 336px;
    }

    &-btn {
      @include btn;
      padding: 15px 0;
      margin-top: 25px;
      height: auto;
      font-size: 16px;
    }

  }

  .projects {
    margin-top: 120px;

    &-wrapper {
      flex-wrap: wrap;
      align-items: normal;
      margin-bottom: 28px;
      gap: 25px;
    }

    &-title {
      max-width: 307px;
      line-height: 112%;
    }

    &-nav {
      margin-top: 22px;

      span {
        font-size: 16px;
      }

      .projects-pagination {
        gap: 15px;

        img {
          width: 33px;
          height: 16px;
        }
      }
    }

    &-name {
      width: 119px;
    }

    &-slider {
      height: auto !important;
      display: flex;
      justify-content: center;

      .slider-container {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 360px;
      }

      .slide {
        position: static !important;
        width: 360px !important;
        height: 250px !important;
        opacity: 1 !important;

        &[data-size] {
          left: auto !important;
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }
      }
    }


  }

  .vr {
    margin-top: 110px;

    &-wrapper {
      flex-wrap: wrap;
      gap: 25px;
      margin-bottom: 28px;
    }

    &-title {
      line-height: 112%;
    }

    &-name {
      width: 119px;
    }

    &-block {
      flex-wrap: wrap;
      gap: 28px;
      padding-top: 28px;
      border-top: 2px solid #f0f0f0;
      margin-top: 28px;
    }

    &-subtitle {
      font-size: 20px;
      line-height: 112%;
      letter-spacing: -0.02em;
    }

    &-desc {
      font-weight: 500;
      font-size: 16px;
      margin-top: 12px;
    }
  }

  .vr-content {
    margin-top: 28px;
    position: relative;
    width: 100%;
    max-height: 100%;
    height: 250px;
    max-width: 100%;
  }

  .vr-content img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .vr-btn {
    width: 116px; /* Размеры вашего круглого изображения */
    height: 116px;
    font-size: 14px;
    background: url("../assets/vr-4.svg") center/contain no-repeat;
  }

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
    background: rgba(0, 0, 0, 0.5);
  }

  .popup-content {
    position: relative;
    margin-top: 30px;
    background: #fff;
    padding: 36px 12px 38px 12px;
    border-radius: 5px;
    max-width: 360px;
    width: 100%;
    z-index: 1001;

    img {
      width: 100%;
    }
  }

  .popup-close {
    position: absolute;
    top: 20px;
    right: 19px;
    width: 16px;
    height: 16px;
  }

  .cost {
    margin-top: 120px;
  }

  .cost .container {
    border-radius: 0;
    padding: 182px 0 15px;
  }

  .cost .container img {
    position: absolute;
    height: 100%;
    top: -20px;
    right: 0;
  }

  .cost-content {
    border-radius: 5px;
    max-width: 360px;
    width: 100%;
    padding: 30px 12px 12px 12px;
    margin: 0 auto;
  }

  .cost-title {
    line-height: 112%;
  }

  .cost-desc {
    line-height: 129%;
    max-width: 336px;
    margin-top: 20px;
  }

  .cost-form {
    margin-top: 70px;
  }

  .form-info {
    gap: 5px;
  }

  .cost-info {
    margin-top: 30px;
    line-height: 133%;
    font-size: 12px;
    max-width: 336px;
  }

  .cost-btn {
    @include btn;
    margin-top: 25px;
    height: auto;
    font-size: 16px;
    padding: 15px 0;
  }

  /* Стили для кастомного select */
  .select-wrapper {
    margin-bottom: 0;
  }

  .coating-select {
    padding-right: 50px !important;
    cursor: pointer;
  }

  .select-arrow {
    right: 19px;
    width: 11px;
    height: 7px;
  }

  .select-options {
    font-size: 14px;
  }

  .stages {
    margin-top: 120px;

    &-wrapper {
      gap: 25px;
      flex-wrap: wrap;
      margin-bottom: 28px;
      align-items: normal;
    }

    &-title {
      max-width: 340px;
      line-height: 112%;

    }

    &-name {
      width: 119px;
    }

    &-list {
      margin-top: 28px;
      gap: 28px;

      li {
        gap: 31px;
        flex-direction: column;
        height: auto;
        padding: 22px;
      }
    }

    &-desc {
      line-height: 136%;
      margin-top: 25px;
    }

    &-number {
      font-size: 18px;
    }

    &-subtitle {
      font-size: 20px;
      line-height: 98%;
      letter-spacing: normal;
    }
  }

  .certificates {
    padding: 0;
    background: inherit;
    margin-top: 120px;

    &-wrapper {
      flex-wrap: wrap;
      gap: 25px;
      align-items: normal;
      margin-bottom: 28px;
    }

    &-name {
      width: 119px;
    }

    &-title {
      max-width: 320px;
      line-height: 112%;
    }

    &-nav {
      margin-top: 22px;

      span {
        font-size: 16px;
      }

      .certificates-pagination {
        gap: 15px;

        img {
          width: 33px;
          height: 17px;
        }
      }
    }

    &-slider {
      margin-top: 28px;
    }

  }

  #certificates .certificates-slider {
    margin-top: 28px;
  }

  #certificates .slide img {
    height: 522px;
    object-fit: cover;
    border-radius: 5px;
  }

  .questions {
    margin-top: 113px;

    &-wrapper {
      flex-wrap: wrap-reverse;
      align-items: normal;
      margin-bottom: 28px;
      gap: 25px;
    }

    &-title {
      line-height: 112%;
    }

    &-name {
      width: 119px;
    }

    &-list {
      margin-top: 50px;
    }

    &-desc {
      margin-top: 25px;
      line-height: 136%;
    }

    &-subtitle {
      font-size: 20px;
      font-weight: 500;
      line-height: 98%;
      letter-spacing: normal;
    }

    &-list {
      margin-top: 28px;
      gap: 28px;

      li {
        padding: 22px;
        height: auto;
        width: 100%;
      }
    }
  }

  .contacts {
    margin-top: 120px;
    background: $accent-color;
    padding: 16px 0 77px;

    img {
      display: none;
    }

    .container {
      display: flex;
      gap: 10px;
    }

    &-content {
      width: 100%;
      padding: 30px 12px 12px 12px;
      background: white;
      border-radius: 5px;
    }

    &-name {
      display: none;
    }

    &-title {
      max-width: 320px;
      color: $main-color;
      font-family: "Inter", sans-serif;
      line-height: 112%;
      margin-top: 0;
    }

    &-desc {
      max-width: 335px;
      line-height: 129%;
      color: #818991;
      margin-top: 20px;
    }

    &-form {
      margin-top: 30px;

      .form-info {
        gap: 5px;
      }
    }

    &-info {
      line-height: 133%;
      font-size: 12px;
      color: #818991;
      max-width: 335px;
      margin-top: 30px;

    }

    &-btn {
      margin-top: 25px;
      background: $accent-color;
      color: white;
      height: auto;
      font-size: 16px;
      padding: 15px 0;
    }
  }

  .map {
    margin-top: 120px;

    iframe {
      border-radius: 5px;
      height: 225px;
    }
  }

  .footer {
    display: none;

  }

  .footer-mob {
    display: block;
    margin-bottom: 15px;

    .container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;
    }

    &__address {
      border-radius: 15px;
      background: #f7f7f7;
      padding: 30px 22px;
      display: flex;
      gap: 40px;
      flex-direction: column;

      p {
        font-weight: 500;
        font-size: 20px;
        line-height: 113%;
        color: #1e2d3d;
        margin-top: 40px;
      }

      &-block {

        span {
          font-size: 18px;
          color: #818991;
          font-family: "Helvetica Neue", sans-serif;
        }

        div {
          display: flex;
          gap: 14px;
          align-items: center;
        }
      }

      &-block:first-child {
        padding-bottom: 40px;
        border-bottom: 1.5px solid #ececec;

      }

    }

    &__link {
      @include btn;
      padding: 15px 0;
      border-radius: 5px;
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      color: #fff;
    }

    &__write {
      border-radius: 15px;
      background: #f7f7f7;
      padding: 30px 22px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      div {
        display: flex;
        gap: 14px;
        align-items: center;
      }

      span {
        font-size: 18px;
        color: #818991;
        font-family: "Helvetica Neue", sans-serif;
      }

      a {
        font-weight: 500;
        font-size: 28px;
        line-height: 98%;
        color: #1e2d3d;
      }
    }

    &__wrapper {
      border-radius: 15px;
      background: #f7f7f7;
      padding: 30px 22px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .footer-nav {
        padding-bottom: 40px;
        border-bottom: 1.5px solid #ececec;

        h3 {
          font-weight: 400;
          font-size: 20px;
          color: #1e2d3d;
          font-family: "Helvetica Neue", sans-serif;
        }

        ul {
          margin-top: 28px;
          display: flex;
          flex-direction: column;
          gap: 20px;

          a {
            font-weight: 400;
            font-size: 18px;
            font-family: "Helvetica Neue", sans-serif;

            color: #818991;
          }
        }

        .footer-images {
          display: flex;
          gap: 27px;
          padding-bottom: 40px;
          border-bottom: 1.5px solid #ececec;

          flex-direction: row;

          &::after {
            right: 120px;
          }
        }
      }

      .footer-nav:nth-child(3) {
        border-bottom: none;
        padding-bottom: 0;
      }
    }

    &__close {
      margin-top: 40px;
      font-weight: 300;
      font-size: 14px;
      line-height: 129%;
      color: #aaa8a8;
      font-family: "Helvetica Neue", sans-serif;
    }

    &__info {
      padding: 30px 22px;
      background: #f7f7f7;
      border-radius: 15px;

      span {
        font-family: "Helvetica Neue", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #1e2d3d;
      }

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        color: #aaa8a8;
        margin-top: 25px;
      }
    }

    &__bottom {
      padding: 30px 22px;
      border-radius: 15px;
      background: #f7f7f7;

      &-info {
        display: flex;
        gap: 15px;
        margin-top: 25px;
      }

      img {
        display: block;
      }
    }

    &__politics {
      text-decoration: underline;
      font-family: "Helvetica Neue", sans-serif;
      text-decoration-skip-ink: none;
      color: #1e2d3d;
    }

    &__dev {
      color: #1e2d3d;
      display: block;
      font-family: "Helvetica Neue", sans-serif;
      margin-top: 25px;
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 1.5px solid #ececec;
    }

  }

}
